---
import * as roadmap from '../../data/roadmap.md';
---

<div class="page-container">
  <div class="roadmap-wrap" set:html={roadmap.compiledContent()} />
</div>

<style is:global>
  .documentation-content .autolink-header {
      display: none;
  }

  .documentation-content .sub-on-newsletter {
      display: none !important;
  }

  .page-container .roadmap-wrap ul {
      margin-left: 0;
      list-style: none;
  }

  .page-container .roadmap-wrap h2 {
      border-bottom: none;
  }

  .page-container .roadmap-wrap ul li {
      margin-left: 0;
      list-style: none;
  }

  .page-container .roadmap-wrap ul li input {
      margin-right: 5px;
  }
</style>

<style>
  .page-container {
      margin: 0 auto 36px;
  }
</style>