
.wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.blurred, .hide-blur {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: 1 / 1;
	width: auto;
	height: auto;
	margin: -80px;
	backdrop-filter: blur(3px);
	z-index: 10;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.hide-blur {
	opacity: 0;
	pointer-events: none;
}

.blur-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.only-desktop {
	transform: translateY(-14px);
	font-size: 14px;
	margin-top: -30px;
	line-height: 14px;
	padding: 8px;
	border-radius: 6px;
	background-color: #ffffff;
	box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(0, 0, 0, 0.075) 0px 2px 4px 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
}

.start, .start-shaked {
	padding: 16px 32px;
	border-radius: 4px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	height: 48px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: #282b3b;	
}

.start-shaked {
	animation: horizontal-shaking 0.3s ease-in-out;
}


@keyframes horizontal-shaking {
	0% { transform: translateX(0) }
	25% { transform: translateX(5px) }
	50% { transform: translateX(-5px) }
	75% { transform: translateX(5px) }
	100% { transform: translateX(0) }
}

.content {
	width: fit-content;
	max-width: 1200px;
	padding: 0 16px;
}

.control {
	display: flex;
	align-items: center;
	gap: 24px;
	margin-bottom: 16px;
	justify-content: space-between;
}

.time {
	display: flex;
	align-items: center;
}

.time > div:not(:first-child) {
  padding-left: 16px;
}

.time > div:not(:last-child) {
  border-right: 1px solid #e6e6e6;
  padding-right: 16px;
}

.play-wrap {
	user-select: none;
  background-color: #fff;
	font-size: 14px;
	margin-left: 16px;
	border: none;
	cursor: pointer;
	text-decoration: underline;
	text-decoration-style: dashed;
}

.config-button {
  padding: 8px 16px;
	text-transform: capitalize;
	border: 1px solid rgb(225, 225, 225);
	border-radius: 6px;
	font-size: 12px;
	background-color: #ffffff;
	cursor: pointer; 
}

.container {
  background-color: #fafafa;
	border: 1px solid rgb(235, 235, 235);
	border-radius: 6px;
	padding: 16px;
	display: grid;
}
