.wrap {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: 32px;
    font-weight: 600;
}

.grid {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-column-gap: 60px;
    grid-row-gap: 20px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-weight: 600;
}


.svgBg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #4bb74a;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.svgBg svg {
    width: 16px;
    height: 16px;
    stroke-width: 4;
    color: #FFFFFF;
}

html[class~=dark] .svgBg svg {
    color: #111111;
}


@media (max-width: 900px) {
    .grid {
        grid-template-columns: max-content max-content;
    }
    .title {
        font-size: 24px;
    }
}

@media (max-width: 599px) {
    .grid {
        grid-template-columns: max-content;
    }

    .title {
        font-size: 20px;
    }
    .item {
        font-size: 16px;
    }

    .svgBg {
        width: 20px;
        height: 20px;
    }

    .svgBg svg {
        width: 14px;
        height: 14px;
    }
}
