.chart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 32px;
}

.query {
  text-align: center;
  width: 300px;
}

.chart_block {
  position: relative;
  display: flex;
  background-color: rgb(40,42,54);
  flex-direction: row;
  padding: 16px 0 0;
  justify-content: center;
}