.wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 160px;
}

.header {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.grid {
    column-gap: 20px;
    column-fill: initial;
    column-count: 3;
}
.grid > * {
    break-inside: avoid;
    margin-bottom: 20px;
}

.top_twits {
    display: none;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 900px) {
    .header {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .grid {
        column-count: 2;
    }
}


@media (max-width: 599px) {
    .grid_scroll {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        overflow-x: auto;
        overflow-y: hidden;
        width: 100vw;
        margin-left: -24px;
    }
    .grid_scroll::-webkit-scrollbar {
        display: none;
    }
    .grid_wrapper {
        width: fit-content;
    }
    .grid {
        column-count: 3;
        width: 100%;
        padding: 0 24px;
    }
    .top_twits {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
