.wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 160px;
}

.header {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.grid {
    column-gap: 20px;
    column-fill: initial;
    column-count: 3;
}
.grid > * {
    break-inside: avoid;
    margin-bottom: 20px;
}

.top_twits {
    display: none;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 900px) {
    .header {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .grid {
        column-count: 2;
    }
}


@media (max-width: 599px) {
    .grid {
        display: none;
    }
    .top_twits {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
