html[class~=dark] .wrap {
  border-color: rgb(64 64 64);
}

html[class~=dark] .wrap:hover {
  background-color: rgb(23 23 23);
  border-color: rgb(64 64 64);
}


html[class~=dark] .img_light {
  display: none;
}

.img_light {
  display: block;
}

html[class~=dark] .img_dark {
  display: block;
}

.img_dark {
  display: none;
}


.wrap {
  transition-duration: .2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  color: currentColor;
  padding: 1rem;
  background-color: transparent;
  border-color: rgb(229 231 235);
  border-width: 1px;
  border-radius: 0.5rem;
  overflow: hidden;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrap:hover {
  border-color: rgb(209 213 219);
  background-color: rgb(248 250 252);
}

.icon {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.icon img {
  height: 24px;
  fill: currentColor;
}

.header {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.25rem;
}

.description {
  color: rgba(156,163,175,1);
}
