html[class~=dark] .wrap {
  border-color: rgb(64 64 64);
  background-color: #111111;
}

html[class~=dark] .wrap:hover {
  background-color: rgb(23 23 23);
  border-color: rgb(64 64 64);
}

html[class~=dark] .icon {
  border: 1.7px solid rgb(64,64,64);
  background-color: #282828;
}

html[class~=dark] .header {
  color: rgb(243, 244, 246);
}

html[class~=dark] .img_light {
  display: none;
}

.img_light {
  display: block;
}

html[class~=dark] .img_dark {
  display: block;
}

.img_dark {
  display: none;
}


.wrap {
  transition-duration: .2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  padding: 1rem;
  background-color: rgba(240, 241, 242, 0.27);
  border: 1px solid rgba(33, 39, 46, 0.12);
  border-radius: 0.5rem;
  overflow: hidden;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrap:hover {
  border-color: rgb(209 213 219);
  background-color: rgb(248 250 252);
}

.icon {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 5px;
  padding: 10px;
  width: 48px;
  height: 48px;
  justify-content: center;
  text-align: center;
  border: 1.7px solid rgba(33, 39, 46, 0.08);
  background-color: rgb(240, 241, 242);
}

.icon img {
  height: 24px;
}

.header {
  font-weight: 700;
  font-size: 16px;
  color: rgb(33, 39, 46);
}

.description {
  font-size: 14px;
  color: rgb(120, 124, 128);
}
