.wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 10px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}


html[class~=dark] .text {
  color: rgb(115,115,115);
}

html[class~=dark] .icon {
  color: rgb(115,115,115);
  fill: rgba(255,255,255,0.2);
}

html[class~=dark] .selected {
  .text {
    color: hsl(var(--nextra-primary-hue)100% 45%);
  }
  .layout {
    fill: none;
  }
}

html[class~=dark] .button:not(.selected):hover { 
  .text {
    color: rgb(249,250,251);
  }
  .icon {
    fill: rgb(249,250,251);
  }
}

.selected {
  .text {
    color: hsl(var(--nextra-primary-hue)100% 32%);
  }
  .layout {
    fill: #E0EEFE;
  }
}

.icon {
  transition-property: color,background-color,border-color,-webkit-text-decoration-color,text-decoration-color,fill,stroke;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  fill: rgb(107,114,128);
  color: rgb(107,114,128);
}

.text {
  color: rgb(107,114,128);
  transition-property: color,background-color,border-color,-webkit-text-decoration-color,text-decoration-color,fill,stroke;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}



/* HOVER */

.button:not(.selected):hover { 
  .text {
    color: rgba(17,24,39);
  }
}