---
  const advantages: string[] = [
    "Lightweight & edge ready",
    "Top-notch performance",
    "Hassle-free SQL migrations",
    "No code generation",
    "Zero dependencies",
    "Feature rich SQL dialects",
  ];
---
<div class="wrap">
  <div class="title">We&apos;ve got your back</div>
  <div class="grid">
    {advantages.map((a) => (
      <div class="item">
        <div class="svgBg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            width="20"
            height="20"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
        </div>
        {a}
      </div>
    ))}
  </div>
</div>

<style>
  .wrap {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .title {
      font-size: 32px;
      font-weight: 600;
  }

  .grid {
      display: grid;
      grid-template-columns: max-content max-content max-content;
      grid-column-gap: 60px;
      grid-row-gap: 20px;
  }

  .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      font-weight: 600;
  }


  .svgBg {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: #4bb74a;
      width: 24px;
      height: 24px;
      border-radius: 50%;
  }

  .svgBg svg {
      width: 16px;
      height: 16px;
      stroke-width: 4;
      color: #FFFFFF;
  }

  html[class~=dark] .svgBg svg {
      color: #111111;
  }


  @media (max-width: 900px) {
      .grid {
          grid-template-columns: max-content max-content;
      }
      .title {
          font-size: 24px;
      }
  }

  @media (max-width: 599px) {
      .grid {
          grid-template-columns: max-content;
      }

      .title {
          font-size: 20px;
      }
      .item {
          font-size: 16px;
      }

      .svgBg {
          width: 20px;
          height: 20px;
      }

      .svgBg svg {
          width: 14px;
          height: 14px;
      }
  }

</style>