.wrap {
  width: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.chart_block {
  display: flex;
  align-items: flex-end;
}

html[class~=dark] .block {
  background-color: #ffffff;
}

.block {
  overflow: hidden;
  background-color: rgb(17, 17, 17);
  width: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 0;
}


html[class~=dark] .number {
  color: #ffffff;
}

.number {
  color: #0d0d0d;
  font-size: 12px;
}

html[class~=dark] .text {
  color: #ffffff;
}

.text {
  color: #0d0d0d;
  font-size: 12px;
}

.name {
  position: absolute;
  bottom: -32px;
}