---
import { getCollection } from "astro:content";
import Layout from "@/layouts/LearnLayout.astro";

export async function getStaticPaths() {
  const releasesEntries = await getCollection("latest-releases");
  return releasesEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const options: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "short",
  day: "numeric",
};
---

<Layout customTitle={entry.data.title}>
  <div class="learn__title-block">
    <div class="latest-release_title">{entry.data.title}</div>
  </div>
  <div class="latest-release_date">
    {entry.data.pubDate.toLocaleDateString("en-US", options)}
  </div>
  <Content />
</Layout>

<style>
  html.dark .latest-release_title {
    color: #e2e6f0;
  }

  .latest-release_title {
    color: #0f172a;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.48px;
    margin-bottom: 16px;
    margin-top: 8px;
  }

  html.dark .latest-release_date {
    color: #e6e6e6;
  }

  .latest-release_date {
    color: rgba(30, 30, 30, 0.4);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.154px;
  }

  .learn__title-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
  }

  @media (max-width: 767px) {
    html.dark .learn__title-block {
    border-left: none;
  }
    .latest-release_title {
      color: #0f172a;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.48px;
      line-height: 31.2px;
      margin-bottom: 16px;
      margin-top: 8px;
    }
    .learn__title-block {
      display: flex;
      flex-direction: column;
      max-width: 920px;
      width: 100%;
      margin: 0;
      padding: 0 16px 0;
      flex-shrink: 0;
      border: none;
    }
  }
</style>
