---
---

<button
  data-collapse-btn
  type="button"
  class:list={["button-wrap", 'section-collapse-button']}
  aria-label="collaps"
>
  <div class="expand-icon">
    <svg
      width="16"
      height="16"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M8.67383 5.36887L12.0427 2L15.4116 5.36887"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M15.4116 18.8443L12.0427 22.2132L8.67383 18.8443"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M12.0426 2.00003V10.0853"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M12.0426 22.2132V14.1279"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </div>
  <div class="collapse-icon">
    <svg
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M8.67383 17.3689L12.0427 14L15.4116 17.3689"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M15.4116 6.7164L12.0427 10.0853L8.67383 6.7164"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M12.0426 14V22.0853"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M12.0426 10.0853V1.99999"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </div>
</button>
<style>
  html[class~="dark"] .button-wrap:hover {
    color: #f9fafb;
  }
  html[class~="dark"] .button-wrap {
    color: #9ca3af;
  }
  .button-wrap:hover {
    color: #111827;
  }

  .button-wrap {
    cursor: pointer;
    text-transform: none;
    font-size: 100%;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(75, 85, 99, 0.6);
    z-index: 1;
    position: static;
    margin: -9px;
  }

  .collapse-icon {
      display: none;
  }
</style>

