.item {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-right: 10px;
  font-weight: 600;
  border: 1.7px solid rgba(33, 39, 46, 0.12);
  background-color: rgba(240, 241, 242, 0.27);
}

html[class~=dark] .item {
  border: 1.7px solid rgb(64,64,64);
  background-color: #282828;
}

.img_block {
  position: absolute;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  width: 48px;
  height: 54px;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.icon img {
  height: 24px;
}


html[class~=dark] .our_sponsor {
  background-color: #202020;
}

.our_sponsor {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  align-items: center;
  gap: 4px;
  text-transform: uppercase;
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #ecf1f1;
}


.our_sponsor svg {
  color: #FD7776;
  width: 10px;
  height: 10px;
  fill: #FD7776;
}