[data-theme='dark'] .ikp-floating-button {
  background-color: #303031;
  color: #f0f0f0;
}

.ikp-floating-button {
  height: 33px;
  background-color: #F4F4F4;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  transition: none;
}

.ikp-floating-button:hover {
  transform: none;
}

[data-theme='light'] .ikp-bot-avatar__box {
  filter: brightness(0.2);
}