@media (prefers-color-scheme: light) {
  body {
    background-color: #FFFFFF;
  }
  .nav_container_blur {
    background-color: #ffffffd9;
  }
  .banner {
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111111;
  }
  .nav_container_blur {
    background-color: rgba(18, 18, 18, 0.8);
  }
  .banner {
    background-color: #121212;
  }
}
