.wrapper {

}

.wrapper pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

html[class~=dark] .tabs {
  background-color: #1f282f;
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 10px 0;
  background-color: #f4f7fc;
  border-top-left-radius: .75rem;
  border-top-right-radius: .75rem;
}

html[class~=dark] .tab, html[class~=dark] .active_tab {
  background-color: #2c3c47;
  color: #e5e7eb;
  border: 1px solid #2c3c47;
}

.tab, .active_tab {
  background-color: #eaf0fa;
  color: #374152;
  font-size: .75rem;
  padding: 0.2rem 0.5rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 1px solid #eaf0fa;
}

html[class~=dark] .active_tab {
  border: 1px solid #3b505f;
}


.active_tab {
  border: 1px solid #9bb8e7;
}

.codeBlock {

}