.container {
  width: 100%;
  margin: 160px auto 0;
  text-align: center;
  gap: 24px;
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.description {
  font-size: 20px;
  font-weight: 500;
}


html[class~=dark] .wrapper {
  background-color: #1c1c1c;
}

.wrapper {
  margin: 30px 0 0;
  background-color: #f8f8f8;
  padding: 15px 0;
  position: relative;
}

.scroll {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: row;
  height: 306px;
  padding: 0 20px;
  gap: 80px;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.gradient-left, .gradient-right {
  pointer-events: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 20px;
}

html[class~=dark] .gradient-right {
  background: linear-gradient(to right, rgba(28, 28, 28, 0) 0%, rgba(28, 28, 28, 0.7) 50%, rgba(28, 28, 28, 1) 100%);
}

html[class~=dark] .gradient-left {
  background: linear-gradient(to left, rgba(28, 28, 28, 0) 0%, rgba(28, 28, 28, 0.7) 50%, rgba(28, 28, 28, 1) 100%);
}

.gradient-left {
  left: 0;
  background: linear-gradient(to left, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 0.7) 50%, rgba(248, 248, 248, 1) 100%);
}

.gradient-right {
  right: 0;
  background: linear-gradient(to right, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 0.7) 50%, rgba(248, 248, 248, 1) 100%);
}

.type_header {
  white-space: nowrap;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.emoji {
  line-height: 20px;
  font-size: 14px;
  padding-right: 4px;
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card_image {
  width: 66px;
  height: 66px;
}

.card_image img {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #ffffff;
}

.card_name {
  text-align: center;
  font-size: 14px;
  color: #434a54;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}


.sponsors_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sponsors {
  height: 100%;
}

.cards {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 134px 134px;
  grid-auto-columns: 110px;
  height: 274px;
}

.hero {
  grid-template-rows: repeat(2, auto);
  grid-auto-columns: 110px;
  grid-gap: 10px;
}

.gold {
  grid-template-rows: repeat(2, 123px);
  grid-auto-columns: 90px;
  grid-gap: 10px;
}

.silver {
  grid-template-rows: repeat(3, 74px);
  grid-auto-columns: 63px;
  grid-gap: 10px;
}

.bronze {
  grid-template-rows: repeat(5, 42px);
  grid-auto-columns: 42px;
  grid-gap: 10px;
}

.ramen {
  grid-template-rows: repeat(6, 38px);
  grid-auto-columns: 38px;
  grid-gap: 3px;
}

.coffee {
  grid-template-rows: repeat(7, 35px);
  grid-auto-columns: 35px;
  grid-gap: 3px;
}

.past {
  grid-template-rows: repeat(9, 25px);
  grid-auto-columns: 25px;
  grid-gap: 5px;
}

.with_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.styled_card {
  padding: 10px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
}

.button_accent {
  margin: 0 auto;
  width: 212px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  height: 48px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #282b3b;
}

html[class~='dark'] .button_accent {
  color: #282828;
  background-color: rgb(226, 232, 240);
}


@media (max-width: 900px) {
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 14px;
  }
}

@media (max-width: 599px) {
  .container {
    gap: 20px;
  }

  .buttons {
    gap: 10px;
  }

  .button_accent {
    font-size: 14px;
    height: 46px;
  }
}

.stream-link {
  text-decoration: underline;
  margin-right: 4px;
}

html[class~=dark] .special-sponsors_wrap {
  background-color: #1c1c1c;
}

.special-sponsors_wrap {
  margin: 10px 0 0;
  background-color: #f8f8f8;
  padding: 15px 20px;
  margin-bottom: 40px;
  position: relative;
}

.special-sponsors_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.special-sponsors_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.special-sponsors_cards {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 63px;
}

.special-sponsor_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

html[class~=dark] .special-sponsor_card_image  {
  background: #282828;
  border: 1px solid #111111;
}

.special-sponsor_card_image {
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
}

html[class~=dark] .special-sponsor_card_name  {
  color: #E2E8F0;
}

.special-sponsor_card_name {
  color: #434a54;
  font-size: 14px;
}

html[class~=dark] .light-image {
  display: block;
}

html[class~=dark] .dark-image {
  display: none;
}

.light-image {
  display: none;
}

.dark-image {
  display: block;
}