.is-supported-chip {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 1px 6px;
  border-radius: 5px;
  flex-shrink: 0;
  background: #292829;
  border: 1px solid #3F3D3F;
}

.is-supported-yes {
  /* Uncomment for higher visual hierarchy style */
  /* border: none;
  background: #273D2E; */
  color: #47B66D;
}

.is-supported-no {
  /* Uncomment for higher visual hierarchy style */
  /* border: none;
  background: #3A2828; */
  color: #f36464;
}

.is-supported svg {
  flex-shrink: 0;
}

.is-supported-text {
  font-size: 14px;
  font-weight: 500;
  font-family: monospace, 'Menlo';
  color: #D8DEE6;
}

.is-supported-chip-group {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  padding-top: 24px;
}

.is-supported-chip-group-joined {
  gap: 0px;
}

.is-supported-chip-group-joined .is-supported-chip {
  border-radius: 0px;
  border-left: none;
  padding-right: 10px;
}

.is-supported-chip-group-joined .is-supported-chip:first-child {
  border-left: 1px solid #3F3D3F;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.is-supported-chip-group-joined .is-supported-chip:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}