---
import type { CSSProperties } from "react";
import s from "@/data/asideS";

const getStyleString = (style: CSSProperties) => {
  return Object.keys(style).reduce((acc, key) => {
    return acc + `${key}: ${style[key as keyof CSSProperties]};`;
  }, "");
};

const slicedSponsors = [];

for (let i = 0; i < s.length; i += 2) {
  let items = s.slice(i, i + 2);
  slicedSponsors.push(items);
}
---
<div class="aside-sponsors__wrap">
  {
    slicedSponsors.map((slice) => (
      <div class="aside-sponsors__row">
        {slice.map((sponsor) => (
          <a
            class="aside-sponsors__sponsor"
            href={`https://${sponsor.sponsorEntity.login}`}
            target="_blank"
            rel="nofollow noreferrer"
          >
            <div
              class="aside-sponsors__sponsor-image"
              id="aside-sponsors-img-wrapper"
            >
              <img
                class="aside-sponsors__light-img"
                loading="lazy"
                src={
                  "data:image/svg+xml;base64," +
                  btoa(sponsor.sponsorEntity.avatarUrl)
                }
                style={getStyleString(sponsor.lightStyle || {})}
              />
              <img
                class="aside-sponsors__dark-img"
                loading="lazy"
                src={
                  "data:image/svg+xml;base64," +
                  btoa(sponsor.sponsorEntity.avatarUrl)
                }
                alt={sponsor.sponsorEntity.name || sponsor.sponsorEntity.login}
                style={getStyleString(sponsor.darkStyle || {})}
              />
            </div>
          </a>
        ))}
      </div>
    ))
  }
</div>

<style>
  html.dark .aside-sponsors__header {
    color: #a8a8a8;
  }

  .aside-sponsors__header {
    align-items: center;
    border-radius: 2px;
    display: flex;
    margin-right: auto;
    margin-bottom: 4px;
    font-size: 10px;
    gap: 4px;
    text-transform: uppercase;
    color: #555;
  }

  .aside-sponsors__header svg {
    fill: #fd7776;
    color: #fd7776;
    height: 10px;
    width: 10px;
  }


  html.dark .aside-sponsors__dark-img {
    display: block;
  }

  html.dark .aside-sponsors__light-img {
    display: none;
  }

  .aside-sponsors__dark-img {
    display: none;
  }

  .aside-sponsors__light-img {
    display: block;
  }

  .aside-sponsors__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    user-select: none;
    min-width: 210px;
  }

  .aside-sponsors__row {
    display: flex;
    gap: 4px;
  }

  .aside-sponsors__row:first-child > .aside-sponsors__sponsor:only-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .aside-sponsors__row:first-child > .aside-sponsors__sponsor:first-child {
    border-top-left-radius: 4px;
  }
  .aside-sponsors__row:first-child > .aside-sponsors__sponsor:last-child {
    border-top-right-radius: 4px;
  }

  .aside-sponsors__row:last-child > .aside-sponsors__sponsor:only-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .aside-sponsors__row:last-child > .aside-sponsors__sponsor:first-child {
    border-bottom-left-radius: 4px;
  }
  .aside-sponsors__row:last-child > .aside-sponsors__sponsor:last-child {
    border-bottom-right-radius: 4px;
  }

  .aside-sponsors__row > .aside-sponsors__sponsor {
    height: 72px;
  }

  .aside-sponsors__row > .aside-sponsors__sponsor:only-child {
  }

  .aside-sponsors__row
    > .aside-sponsors__sponsor:only-child
    > .aside-sponsors__sponsor-image {
    max-width: 124px;
  }

  html.dark .aside-sponsors__sponsor:hover {
    background-color: #282828;
  }

  html.dark .aside-sponsors__sponsor {
    background-color: #1c1c1c;
  }

  .aside-sponsors__sponsor:hover {
    background-color: rgba(142, 150, 170, 0.14);
  }

  .aside-sponsors__sponsor {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f6f6f7;
    justify-content: center;
    transition: background-color 0.2s;
  }

  .aside-sponsors__sponsor:hover
    .aside-sponsors__sponsor-image
    .aside-sponsors__light-img,
  .aside-sponsors__sponsor:hover
    .aside-sponsors__sponsor-image
    .aside-sponsors__dark-img {
    filter: none !important;
  }

  .aside-sponsors__sponsor-image {
    transition: filter 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
  }

  .aside-sponsors__sponsor-image img {
    width: 100%;
    transition: filter 0.2s;
  }
</style>
