<div id="banner" class="banner">
  <div class="banner__content">
    <a href="https://x.com/DrizzleORM/status/1826693369357369712" target="_blank" rel="nofollow noreferrer">We've updated benchmarks, Drizzle's fast 🚀 →</a>
  </div>
</div>  

<style is:inline>

  html[class~=dark] .banner {
    border-bottom: 1px solid rgb(48, 48, 48);
    background-color: #121212;
  }

  .banner {
    position: relative;
    z-index: 20;
    display: flex;
    height: 40px;
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #efefef;
    padding-right: 8px;
    padding-left: 8px;
    color: #000000;
  }

  html[class~=dark] .banner__content:hover {
    color: #ffffff;
  }

  .banner__content:hover {
    color: #000;
  }

  .banner__content {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: .875rem;
    font-weight: 500;
    color: #909090;
    transition: color 0.2s ease-in-out;
  }
</style>