<div class="benchmark__header">
  <div class="benchmark__header_title">Performance</div>
  <div class="benchmark__header_description">We ran <del>biased</del> meaningful benchmarks for you!</div>
  <div class="benchmark__header_description">Results are in the awesome dashboard below 👇</div>
</div>

<style>
  .benchmark__header {
    margin-top: 32px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .benchmark__header_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 32px;
    font-weight: 600;
  }

  .benchmark__header_description {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    max-width: 500px;
  }

  @media screen and (max-width: 599px){
    .benchmark__header_title {
      font-size: 30px;
    }

    .benchmark__header_description {
      font-size: 16px;
    }
  }
</style>