<div class="nav_search-wrap">
  <div class="search-wrap--centered" id="docsearch"></div>
  <div id="custom-button" class="nav_ai-btn"></div>
</div>
<style>
  .nav_search-wrap {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 420px;
    gap: 12px;
  }

  html[class~=dark] .nav_ai-btn {
    background-color: #303031;
  }

  .nav_ai-btn {
    width: 108px;
    height: 33px;
    background-color: #F4F4F4;
    border-radius: 8px;
  }
</style>
<script is:inline>
  docsearch({
    container: '#docsearch',
    appId: "MXZNUT59HV",
    apiKey: "7c390e262ac8858df0b6624d01d9dfef",
    indexName: "orm-drizzle",
    placeholder: "Search documentation...",
  });
</script>
<script type="module">
  let themeName = localStorage.getItem('theme');
    if(themeName === 'system') {
      themeName = window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light';
    }

const properties = {
  stylesheetUrls: ['/inkeep-styles.css'],
  chatButtonType: 'ICON_TEXT',
  isPositionFixed: false,
  baseSettings: {
    apiKey: import.meta.env.PUBLIC_INKEEP_API_KEY || '',
    integrationId: import.meta.env.PUBLIC_INKEEP_INTEGRATION_ID || '',
    organizationId: import.meta.env.PUBLIC_INKEEP_ORG_ID || '',
    organizationDisplayName: 'Drizzle ORM',
    primaryBrandColor: '#FFFFFF',
    theme: {
      colorMode: {
        forcedColorMode: themeName,
      },
    },
  },
  modalSettings: {
    areOpenHotKeysDisabled: true,
  },
  aiChatSettings: {
    botAvatarSrcUrl: '/svg/drizzle.svg',
  }
}

//@ts-ignore
const inkeepWidget = Inkeep().embed({
  componentType: "ChatButton",
  targetElement: document.getElementById("custom-button"),
  properties,
});

window.inkeepWidget = inkeepWidget;
</script>