<div class="nav_search-wrap">
  <div class="search-wrap--centered" id="docsearch"></div>
  <div id="custom-button" class="nav_ai-btn"></div>
</div>
<style>
  .nav_search-wrap {
    align-items: center;
    display: flex;
    flex-grow: 1;
    gap: 12px;
    max-width: 420px;
  }

  html[class~=dark] .nav_ai-btn {
    background-color: #303031;
  }

  .nav_ai-btn {
    width: 108px;
    height: 33px;
    background-color: #F4F4F4;
    border-radius: 4px;
  }

  @media screen and (max-width: 768px) {
    .nav_search-wrap {
      display: none;
    }
    
  }
</style>