
<div class="end-of-content">
</div>

<style>
  .end-of-content {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    border-top: 1px solid #e5e7eb;
    padding-top: 2rem;
  }

  .end-of-content__link {
    text-decoration: inherit;
    outline-offset: 2px;
    outline: 2px solid transparent;
    border-radius: .25rem;
    display: flex;
    max-width: 50%;
    align-items: center;
    gap: .25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 500;
    color: #4b5563;
    transition-property: color,background-color,border-color,-webkit-text-decoration-color,text-decoration-color,fill,stroke;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    word-break: break-word;
    font-size: 1.125rem;
    margin-left: auto;
    padding-left: 1rem;
    text-align: right;
    cursor: pointer;
  }

  .end-of-content__link:hover {
    color: #006be6;
  }

  .end-of-content__link svg {
    vertical-align: middle;
    display: inline;
    height: 1.25rem;
    flex-shrink: 0;
  }

  html[class~=dark] .end-of-content {
    border-top: 1px solid #262626;
  }

  html[class~=dark] .end-of-content__link {
    color: #d1d5db;
  }
</style>