<div class="sub-on-newsletter"></div>

<style>
  .sub-on-newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    border-top: 1px solid #e5e7eb;
    padding-bottom: 64px;
    padding-top: 32px;
  }

  html[class~="dark"] .sub-on-newsletter {
    border-top: 1px solid #262626;
  }
</style>
