---
import { getCollection } from "astro:content";

const articles = await getCollection("documentation", ({ id }) => {
  return id.startsWith('docs/latest-releases/');
});

const filteredArticles = articles.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
);

const prevUpdates = filteredArticles.slice(0, 3);
const options: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "short",
  day: "numeric",
};
---

<div class="latest-updates_wrap">
  <div class="latest-updates__header">
    <div class="latest-updates__header_title">Latest Updates</div>
    <a href="/docs/latest-releases" class="latest-updates__header_view-all">
      View all <svg
        class="guides__selected-guides__card_arrow"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4.16699 10H15.8337"
          stroke="currentColor"
          stroke-width="1.66667"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M10 4.16675L15.8333 10.0001L10 15.8334"
          stroke="currentColor"
          stroke-width="1.66667"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </a>
  </div>
  <div class="latest-updates__cards">
    {
      prevUpdates.map((update) => (
        <a
          href={`/${update.slug}`}
          class="latest-updates__card"
        >
          <div class="latest-updates__card_title">{update.data.title}</div>
          <div class="latest-updates__card_date">
            {update.data.pubDate.toLocaleDateString("en-US", options)}
          </div>
          <div class="latest-updates__card_description">
            {update.data.description}
          </div>
          <div class="latest-updates__card_link">Read more</div>
        </a>
      ))
    }
  </div>
</div>
<style>
  .latest-updates_wrap {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .latest-updates__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  html.dark .latest-updates__header_title {
    color: #e2e8f0;
  }

  .latest-updates__header_title {
    color: #303030;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.48px;
  }

  html.dark .latest-updates__header_view-all {
    color: #006be6;
  }

  .latest-updates__header_view-all {
    display: flex;
    gap: 8px;
    align-items: center;
    color: #006adc;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
  }

  .latest-updates__cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    width: 100%;
  }

  html.dark .latest-updates__card {
    background-color: #171717;
    border: 1px solid #303030;
  }

  .latest-updates__card {
    padding: 24px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    background: #fff;
    line-height: normal;
    text-decoration: none;
  }

  html.dark .latest-updates__card_title {
    color: #e2e8f0;
  }

  .latest-updates__card_title {
    color: #222124;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.198px;
  }

  html.dark .latest-updates__card_date {
    color: #e6e6e6;
  }

  .latest-updates__card_date {
    color: #7e868c;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.132px;
    margin-top: 8px;
  }

  html.dark .latest-updates__card_description {
    color: #f3f4f6;
  }

  .latest-updates__card_description {
    color: #5f5f61;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.176px;
    margin-top: 16px;
  }
  .latest-updates__card_link {
    display: none;
  }
  @media (max-width: 767px) {
    .latest-updates_wrap {
      margin-top: 56px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-bottom: 72px;
    }
    .latest-updates__cards {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 24px;
      width: 100%;
    }
    html.dark .latest-updates__card_description {
      color: #f3f4f6;
    }

    .latest-updates__card_description {
      color: #5f5f61;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.176px;
      margin-top: 12px;
      line-height: 16.71px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
    .latest-updates__card_link {
      display: flex;
      margin-top: 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16.71px;
    }
    .latest-updates__header_title {
      color: #303030;
      font-size: 20px;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: -0.48px;
    }
    .latest-updates__header_view-all {
      display: flex;
      gap: 8px;
      align-items: center;
      color: #006adc;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      cursor: pointer;
    }
    .guides__selected-guides__card_arrow {
      height: 16px;
      width: 16px;
    }
  }
</style>
