---
import DrizzleLogo from "@components/Icons/DrizzleLogo";
import HandDrawnArrowRightIcon from "@components/Icons/HandDrawnArrowRightIcon.astro";
import PrismaIcon from "@components/Icons/PrismaIcon";
import SequelizeIcon from "@components/Icons/SequelizeIcon.astro";
import TypeORMIcon from "@components/Icons/TypeORMIcon.astro";
---

<div class="learn__migrate-from_cards">
  <a href="/docs/migrate/migrate-from-prisma" class="learn__migrate-from_card">
    <div class="learn__migrate-from_card-image">
      <PrismaIcon />
      <HandDrawnArrowRightIcon />
      <DrizzleLogo />
    </div>
    <div class="learn__migrate-from_card-title">Migrate from Prisma</div>
  </a>
  <a
    href="/docs/migrate/migrate-from-sequelize"
    class="learn__migrate-from_card"
  >
    <div class="learn__migrate-from_card-image">
      <SequelizeIcon />
      <HandDrawnArrowRightIcon />
      <DrizzleLogo />
    </div>
    <div class="learn__migrate-from_card-title">Migrate from Sequelize</div>
  </a>
  <a
    href="/docs/migrate/migrate-from-typeorm"
    class="learn__migrate-from_card"
  >
    <div class="learn__migrate-from_card-image">
      <TypeORMIcon />
      <HandDrawnArrowRightIcon />
      <DrizzleLogo />
    </div>
    <div class="learn__migrate-from_card-title">Migrate from TypeORM</div>
  </a>
</div>
<style>
  .learn__migrate-from_cards {
    display: grid;
    gap: 16px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 240px);
  }

  html.dark .learn__migrate-from_card {
    border: 1px solid #303030;
  }

  .learn__migrate-from_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    height: 144px;
  }

  html.dark .learn__migrate-from_card-image {
    color: #e2e8f0;
  }

  .learn__migrate-from_card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    color: #000;
  }

  html.dark .learn__migrate-from_card-title {
    color: #e2e8f0;
  }

  .learn__migrate-from_card-title {
    color: #101828;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-top: 16px;
    text-align: center;
  }
  @media (max-width: 767px) {
    .learn__migrate-from_cards {
      display: flex;
      gap: 12px;
      flex-direction: column;
    }
    .learn__migrate-from_card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 2px;
      border: 1px solid #e6e6e6;
      color: inherit;
      text-decoration: none;
      cursor: pointer;
      height: 144px;
    }
  }
</style>
<style is:global>
  .learn__migrate-from_card-image svg:first-child,
  .learn__migrate-from_card-image svg:last-child {
    width: 48px;
    height: 48px;
  }
</style>
