---
import { getCollection } from "astro:content";

const tutorials = await getCollection("documentation", ({ id }) => {
  return id.startsWith("docs/tutorials/");
});

const formattedTutorials = tutorials.map((tutorial) => (
  {
    ...tutorial,
    slug: tutorial.slug.split("/").at(-1),
  }
));

const sortedThreeLatestTutorials = formattedTutorials.sort((a, b) => {
  const dateA = new Date(a.data.date).getTime();
  const dateB = new Date(b.data.date).getTime();
  return dateB - dateA;
}).slice(0, 3);

---

<div class="learn__migrate-from_cards">
  {
    sortedThreeLatestTutorials.map((card) => (
      <a
        href={`/docs/tutorials/${card.slug}`}
        class="tutorials__section__card"
      >
        <div class="tutorials__section__card_icons">
          {card.data.svgs.map((svg: string, index: number) => (
            <>
              <Fragment set:html={svg} />
              {index !== card.data.svgs.length - 1 ? (
                <div>🤝</div>
              ) : null}
            </>
          ))}
        </div>
        <div class="tutorials__section__card_title">
          {card.data.title}
        </div>
      </a>
    ))
  }
</div>
<style>

  .learn__migrate-from_cards {
    display: grid;
    gap: 16px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 240px);
  }


  html.dark .tutorials__section__card {
    border: 1px solid #303030;
  }

  .tutorials__section__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    height: 144px;
    text-align: center;
  }

  html.dark .tutorials__section__card_icons {
    color: #e2e8f0;
  }

  .tutorials__section__card_icons {
    align-items: center;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    display: flex;
    gap: 8px;
    justify-content: center;
    font-size: 24px;
    color: #000;
  }

  html.dark .tutorials__section__card_title {
    color: #e2e6f0;
  }

  .tutorials__section__card_title {
    color: #101828;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
    line-height: normal;
  }

  @media (max-width: 767px) {
    .learn__migrate-from_cards {
      display: flex;
      gap: 12px;
      flex-direction: column;
    }
    .tutorials__section__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #e6e6e6;
      border-radius: 2px;
      color: inherit;
      cursor: pointer;
      text-decoration: none;
      width: 100%;
      height: 144px;
      text-align: center;
    }
    .tutorials__section__card_title {
      color: #101828;
      font-size: 16px;
      font-weight: 600;
      margin-top: 20px;
      line-height: normal;
    }
  }
</style>
<style is:global>
  .tutorials__section__card_icons svg {
    width: 40px;
    height: 40px;
  }

  .tutorials__section__card_icons svg:nth-child(even) {
    width: 20px;
    height: 20px;
  }
</style>
