<a href="/" class="logo-wrap">
  <div class="logo-svg">
    <svg
    width="160"
    height="160"
    viewBox="0 0 160 160"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect
      width="9.63139"
      height="40.8516"
      rx="4.8157"
      transform="matrix(0.873028 0.48767 -0.497212 0.867629 43.4805 67.3037)"
      fill="currentColor"
    />
    <rect
      width="9.63139"
      height="40.8516"
      rx="4.8157"
      transform="matrix(0.873028 0.48767 -0.497212 0.867629 76.9395 46.5342)"
      fill="currentColor"
    />
    <rect
      width="9.63139"
      height="40.8516"
      rx="4.8157"
      transform="matrix(0.873028 0.48767 -0.497212 0.867629 128.424 46.5352)"
      fill="currentColor"
    />
    <rect
      width="9.63139"
      height="40.8516"
      rx="4.8157"
      transform="matrix(0.873028 0.48767 -0.497212 0.867629 94.957 67.3037)"
      fill="currentColor"
    />
  </svg>
  </div>
  <span>Drizzle</span>
</a>
<style>
  .logo-wrap {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: auto;
    font-weight: 600;
    cursor: pointer;
    min-height: 64px;
  }

  .logo-svg svg{
    width: 36px;
    height: 36px;
    color: #000000;
  }
  
  html[class~=dark] .logo-svg svg{
    color: #C5F74F;
  }
</style>