<a href="/" class="logo-wrap">
  <div class="logo-svg">
    <svg height="36" viewBox="0 0 170 36" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="3.61177" height="15.3194" rx="1.80589" transform="matrix(0.873028 0.48767 -0.497212 0.867629 16.3057 14.2389)" fill="currentColor"/>
      <rect width="3.61177" height="15.3194" rx="1.80589" transform="matrix(0.873028 0.48767 -0.497212 0.867629 28.8525 6.45032)" fill="currentColor"/>
      <rect width="3.61177" height="15.3194" rx="1.80589" transform="matrix(0.873028 0.48767 -0.497212 0.867629 48.1592 6.45068)" fill="currentColor"/>
      <rect width="3.61177" height="15.3194" rx="1.80589" transform="matrix(0.873028 0.48767 -0.497212 0.867629 35.6084 14.2389)" fill="currentColor"/>
      <path d="M65.648 26C65.024 26 64.544 25.832 64.208 25.496C63.872 25.16 63.704 24.68 63.704 24.056V11.024C63.704 10.4 63.872 9.92 64.208 9.584C64.544 9.248 65.024 9.08 65.648 9.08H70.328C73.224 9.08 75.456 9.816 77.024 11.288C78.608 12.744 79.4 14.824 79.4 17.528C79.4 18.888 79.192 20.096 78.776 21.152C78.376 22.192 77.792 23.072 77.024 23.792C76.256 24.512 75.312 25.064 74.192 25.448C73.072 25.816 71.784 26 70.328 26H65.648ZM67.424 22.952H70.112C71.024 22.952 71.816 22.84 72.488 22.616C73.16 22.392 73.72 22.056 74.168 21.608C74.616 21.16 74.952 20.6 75.176 19.928C75.4 19.24 75.512 18.44 75.512 17.528C75.512 15.704 75.056 14.352 74.144 13.472C73.248 12.576 71.904 12.128 70.112 12.128H67.424V22.952ZM85.2899 26.216C84.6819 26.216 84.2179 26.056 83.8979 25.736C83.5779 25.416 83.4179 24.96 83.4179 24.368V15.848C83.4179 15.256 83.5699 14.808 83.8739 14.504C84.1939 14.184 84.6339 14.024 85.1939 14.024C85.7699 14.024 86.2099 14.184 86.5139 14.504C86.8179 14.808 86.9699 15.256 86.9699 15.848V17.096H86.7299C86.9219 16.136 87.3459 15.392 88.0019 14.864C88.6579 14.336 89.5059 14.04 90.5459 13.976C90.9459 13.944 91.2499 14.048 91.4579 14.288C91.6819 14.512 91.8019 14.888 91.8179 15.416C91.8499 15.912 91.7459 16.304 91.5059 16.592C91.2819 16.88 90.8979 17.056 90.3539 17.12L89.8019 17.168C88.8899 17.248 88.2099 17.512 87.7619 17.96C87.3299 18.408 87.1139 19.056 87.1139 19.904V24.368C87.1139 24.96 86.9539 25.416 86.6339 25.736C86.3299 26.056 85.8819 26.216 85.2899 26.216ZM96.5726 26.192C95.9806 26.192 95.5246 26.024 95.2046 25.688C94.9006 25.336 94.7486 24.848 94.7486 24.224V16.016C94.7486 15.376 94.9006 14.888 95.2046 14.552C95.5246 14.2 95.9806 14.024 96.5726 14.024C97.1486 14.024 97.5886 14.2 97.8926 14.552C98.2126 14.888 98.3726 15.376 98.3726 16.016V24.224C98.3726 24.848 98.2206 25.336 97.9166 25.688C97.6126 26.024 97.1646 26.192 96.5726 26.192ZM96.5726 12.056C95.9006 12.056 95.3806 11.904 95.0126 11.6C94.6606 11.28 94.4846 10.832 94.4846 10.256C94.4846 9.664 94.6606 9.216 95.0126 8.912C95.3806 8.592 95.9006 8.432 96.5726 8.432C97.2446 8.432 97.7566 8.592 98.1086 8.912C98.4606 9.216 98.6366 9.664 98.6366 10.256C98.6366 10.832 98.4606 11.28 98.1086 11.6C97.7566 11.904 97.2446 12.056 96.5726 12.056ZM103.618 26C103.266 26 102.97 25.912 102.73 25.736C102.49 25.544 102.33 25.304 102.25 25.016C102.17 24.728 102.17 24.416 102.25 24.08C102.346 23.744 102.53 23.432 102.802 23.144L108.682 16.088V16.928H103.474C103.042 16.928 102.706 16.808 102.466 16.568C102.226 16.328 102.106 16 102.106 15.584C102.106 15.136 102.226 14.8 102.466 14.576C102.706 14.336 103.042 14.216 103.474 14.216H110.41C110.842 14.216 111.186 14.312 111.442 14.504C111.698 14.696 111.866 14.936 111.946 15.224C112.042 15.496 112.05 15.8 111.97 16.136C111.906 16.456 111.738 16.76 111.466 17.048L105.442 24.248V23.312H111.01C111.922 23.312 112.378 23.76 112.378 24.656C112.378 25.088 112.258 25.424 112.018 25.664C111.778 25.888 111.442 26 111.01 26H103.618ZM116.59 26C116.238 26 115.942 25.912 115.702 25.736C115.462 25.544 115.302 25.304 115.222 25.016C115.142 24.728 115.142 24.416 115.222 24.08C115.318 23.744 115.502 23.432 115.774 23.144L121.654 16.088V16.928H116.446C116.014 16.928 115.678 16.808 115.438 16.568C115.198 16.328 115.078 16 115.078 15.584C115.078 15.136 115.198 14.8 115.438 14.576C115.678 14.336 116.014 14.216 116.446 14.216H123.382C123.814 14.216 124.158 14.312 124.414 14.504C124.67 14.696 124.838 14.936 124.918 15.224C125.014 15.496 125.022 15.8 124.942 16.136C124.878 16.456 124.71 16.76 124.438 17.048L118.414 24.248V23.312H123.982C124.894 23.312 125.35 23.76 125.35 24.656C125.35 25.088 125.23 25.424 124.99 25.664C124.75 25.888 124.414 26 123.982 26H116.59ZM132.801 26.264C131.377 26.264 130.313 25.872 129.609 25.088C128.905 24.288 128.553 23.104 128.553 21.536V10.712C128.553 10.104 128.705 9.648 129.009 9.344C129.329 9.024 129.785 8.864 130.377 8.864C130.953 8.864 131.393 9.024 131.697 9.344C132.017 9.648 132.177 10.104 132.177 10.712V21.392C132.177 22.048 132.313 22.536 132.585 22.856C132.873 23.16 133.249 23.312 133.713 23.312C133.841 23.312 133.961 23.304 134.073 23.288C134.185 23.272 134.305 23.264 134.433 23.264C134.689 23.232 134.865 23.312 134.961 23.504C135.073 23.68 135.129 24.04 135.129 24.584C135.129 25.064 135.033 25.432 134.841 25.688C134.649 25.928 134.353 26.088 133.953 26.168C133.793 26.184 133.609 26.2 133.401 26.216C133.193 26.248 132.993 26.264 132.801 26.264ZM143.988 26.264C142.596 26.264 141.396 26.016 140.388 25.52C139.396 25.008 138.628 24.296 138.084 23.384C137.556 22.456 137.292 21.368 137.292 20.12C137.292 18.904 137.548 17.84 138.06 16.928C138.572 16 139.284 15.28 140.196 14.768C141.124 14.24 142.172 13.976 143.34 13.976C144.188 13.976 144.956 14.12 145.644 14.408C146.332 14.68 146.924 15.08 147.42 15.608C147.916 16.12 148.292 16.752 148.548 17.504C148.804 18.24 148.932 19.064 148.932 19.976C148.932 20.28 148.836 20.512 148.644 20.672C148.452 20.816 148.172 20.888 147.804 20.888H140.268V19.016H146.316L145.932 19.352C145.932 18.696 145.836 18.152 145.644 17.72C145.452 17.272 145.172 16.936 144.804 16.712C144.452 16.488 144.012 16.376 143.484 16.376C142.892 16.376 142.388 16.512 141.972 16.784C141.556 17.056 141.236 17.448 141.012 17.96C140.788 18.472 140.676 19.088 140.676 19.808V20C140.676 21.216 140.956 22.112 141.516 22.688C142.092 23.264 142.94 23.552 144.06 23.552C144.444 23.552 144.884 23.504 145.38 23.408C145.876 23.312 146.34 23.16 146.772 22.952C147.14 22.776 147.468 22.72 147.756 22.784C148.044 22.832 148.268 22.96 148.428 23.168C148.588 23.376 148.676 23.616 148.692 23.888C148.724 24.16 148.668 24.432 148.524 24.704C148.38 24.96 148.14 25.176 147.804 25.352C147.26 25.656 146.644 25.88 145.956 26.024C145.284 26.184 144.628 26.264 143.988 26.264Z" fill="currentColor"/>
      </svg>
      
  </div>
</a>
<style>
  .logo-wrap {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: auto;
    font-weight: 600;
    cursor: pointer;
    min-height: 48px;
    width: fit-content;
  }

  .logo-svg {
    width: fit-content;
  }

  .logo-svg svg{
    height: 24px;
    color: #000000;
  }
  
  html[class~=dark] .logo-svg svg{
    color: #fff;
  }
</style>