---
import DocsIcon from "@/assets/icons/DocsIcon.astro";
---

<div class="logo__section__selector">
  <button class="logo__section__dropdown-btn" data-section-selector>
    <div class="docs-text">
      <div class="logo__section-icon">
        <span class="logo__section-icon--docs">
          <DocsIcon />
        </span>
      </div>
      <div class="logo__section-text">
        Docs
      </div>
    </div>
  </button>
  <div class="logo__section__selector-items hidden">
    <a class="logo__section__selector-item" href="/docs/overview">
      <div class="logo__section__selector-item__icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M8.732 5.771L5.67 9.914c-1.285 1.739-1.928 2.608-1.574 3.291l.018.034c.375.673 1.485.673 3.704.673c1.233 0 1.85 0 2.236.363l.02.02l3.872-4.57l-.02-.02c-.379-.371-.379-.963-.379-2.148v-.31c0-3.285 0-4.927-.923-5.21c-.923-.283-1.913 1.056-3.892 3.734"
            clip-rule="evenodd"></path>
          <path
            fill="currentColor"
            d="M10.453 16.443v.31c0 3.284 0 4.927.923 5.21c.923.283 1.913-1.056 3.893-3.734l3.062-4.143c1.284-1.739 1.927-2.608 1.573-3.291a1.353 1.353 0 0 0-.018-.034c-.375-.673-1.485-.673-3.704-.673c-1.233 0-1.85 0-2.236-.363l-3.872 4.57c.379.371.379.963.379 2.148"
            opacity=".5"></path>
        </svg>
      </div>
      <div>Benchmarks</div>
    </a>
    <a class="logo__section__selector-item" href="/docs/overview">
      <div class="logo__section__selector-item__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="m20.83 10.715l-.518 1.932c-.605 2.255-.907 3.383-1.592 4.114a4 4 0 0 1-2.01 1.161c-.097.023-.195.04-.295.052c-.915.113-2.032-.186-4.064-.73c-2.255-.605-3.383-.907-4.114-1.592a4 4 0 0 1-1.161-2.011c-.228-.976.074-2.103.679-4.358l.517-1.932l.244-.905c.455-1.666.761-2.583 1.348-3.21a4 4 0 0 1 2.01-1.16c.976-.228 2.104.074 4.36.679c2.254.604 3.382.906 4.113 1.59a4 4 0 0 1 1.161 2.012c.228.976-.075 2.103-.679 4.358m-9.778-.91a.75.75 0 0 1 .919-.53l4.83 1.295a.75.75 0 1 1-.389 1.448l-4.83-1.294a.75.75 0 0 1-.53-.918m-.776 2.898a.75.75 0 0 1 .918-.53l2.898.777a.75.75 0 1 1-.388 1.448l-2.898-.776a.75.75 0 0 1-.53-.919" clip-rule="evenodd"/><path fill="currentColor" d="M16.415 17.975a4 4 0 0 1-1.068 1.677c-.731.685-1.859.987-4.114 1.591s-3.383.907-4.358.679a4 4 0 0 1-2.011-1.161c-.685-.731-.988-1.859-1.592-4.114l-.517-1.932c-.605-2.255-.907-3.383-.68-4.358a4 4 0 0 1 1.162-2.011c.731-.685 1.859-.987 4.114-1.592c.426-.114.813-.218 1.165-.309l-.244.906l-.517 1.932c-.605 2.255-.907 3.382-.68 4.358a4 4 0 0 0 1.162 2.011c.731.685 1.859.987 4.114 1.592c2.032.544 3.149.843 4.064.73" opacity="0.5"/></svg>
      </div>
      <div>Extension</div>
      <div class="external-link-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-square-arrow-out-up-right"
        >
          <path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"/>
          <path d="m21 3-9 9"/>
          <path d="M15 3h6v6"/>
        </svg>
      </div>
    </a>
    <a class="logo__section__selector-item" href="/docs/overview">
      <div class="logo__section__selector-item__icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M12 2c4.714 0 7.071 0 8.535 1.464c1.08 1.08 1.364 2.647 1.439 5.286L22 9.5H2.026v-.75c.075-2.64.358-4.205 1.438-5.286C4.93 2 7.286 2 12 2"
            opacity="1"
          />
          <path
            fill="white"
            d="M13 6a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-3 0a1 1 0 1 1-2 0a1 1 0 0 1 2 0M7 6a1 1 0 1 1-2 0a1 1 0 0 1 2 0"
          />
          <path
            fill="currentColor"
            d="M2 12c0 4.714 0 7.071 1.464 8.535c1.01 1.01 2.446 1.324 4.786 1.421L9 22V9.5H2.026l-.023.75Q2 11.066 2 12"
            opacity="0.7"
          />
          <path
            fill="currentColor"
            d="M22 12c0 4.714 0 7.071-1.465 8.535C19.072 22 16.714 22 12 22c-.819 0-2.316 0-3-.008V9.5h13l-.003.75Q22 11.066 22 12"
            opacity="0.3"
          />
        </svg>
      </div>
      <div>Studio</div>
    </a>
    <a class="logo__section__selector-item" href="/docs/overview">
      <div class="logo__section__selector-item__icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M8.422 20.618C10.178 21.54 11.056 22 12 22V12L2.638 7.073a3.196 3.196 0 0 0-.04.067C2 8.154 2 9.417 2 11.942v.117c0 2.524 0 3.787.597 4.801c.598 1.015 1.674 1.58 3.825 2.709z"
          />
          <path
            fill="currentColor"
            d="m17.577 4.432l-2-1.05C13.822 2.461 12.944 2 12 2c-.945 0-1.822.46-3.578 1.382l-2 1.05C4.318 5.536 3.242 6.1 2.638 7.072L12 12l9.362-4.927c-.606-.973-1.68-1.537-3.785-2.641"
            opacity="0.7"
          />
          <path
            fill="currentColor"
            d="M21.403 7.14a3.153 3.153 0 0 0-.041-.067L12 12v10c.944 0 1.822-.46 3.578-1.382l2-1.05c2.151-1.129 3.227-1.693 3.825-2.708c.597-1.014.597-2.277.597-4.8v-.117c0-2.525 0-3.788-.597-4.802"
            opacity="0.5"
          />
          <path
            fill="currentColor"
            d="m6.323 4.484l.1-.052l1.493-.784l9.1 5.005l4.025-2.011c.137.155.257.32.362.498c.15.254.262.524.346.825L17.75 9.964V13a.75.75 0 0 1-1.5 0v-2.286l-3.5 1.75v9.44A3.062 3.062 0 0 1 12 22c-.248 0-.493-.032-.75-.096v-9.44l-8.998-4.5c.084-.3.196-.57.346-.824a3.15 3.15 0 0 1 .362-.498l9.04 4.52l3.387-1.693z"
          />
        </svg>
      </div>
      <div>Studio Package</div>
      <div class="external-link-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-square-arrow-out-up-right"
        >
          <path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"/>
          <path d="m21 3-9 9"/>
          <path d="M15 3h6v6"/>
        </svg>
      </div>
    </a>
  </div>
</div>

<!-- MOBILE -->
<div class="logo__section__dropdown-select">
  <div class="logo__section__dropdown-content">
    <div class="logo__section-icon">
      <span class="logo__section-icon--docs">
        <DocsIcon />
      </span>
    </div>
    <div class="logo__section-text">
      Docs
    </div>
  </div>
  <select
    id="section__select"
    aria-label="Section selector"
    title="Select section"
    class="section__select"
  >
    <option selected={true} value="docs">Docs</option>
  </select>
</div>

<style>
  .logo-wrap {
    display: flex;
    align-items: center;
    font-weight: 600;
  }

  .logo-svg svg {
    width: 36px;
    height: 36px;
    color: #000000;
    margin-right: 4px;
  }

  html[class~="dark"] .logo__section-icon {
    background-color: rgb(16, 42, 76);
  }

  .logo__section-icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(225, 240, 255);
    border-radius: 4px;
    height: 32px;
    width: 32px;
  }

  html.dark .logo__section-text {
    color: rgb(243, 244, 246);
  }

  .logo__section-text {
    color: #000;
    margin-right: 4px;
      font-weight: 600;
  }

  .docs-text {
    display: flex;
    align-items: center;
  }

  .nav_logo {
    outline-offset: 2px;
    outline: 2px solid transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }

  html.dark .logo__section__selector {
    background-color: #111;
    border: 1px solid #404040;
  }

  .logo__section__selector {
    position: relative;
    user-select: none;
    color: #7e868c;
    border-radius: 4px;
  }

  .logo__section__dropdown-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    transition: background-color 0.2s ease-in-out;
  }

  html.dark .logo__section__selector-item__icon {
    background-color: #102a4c;
  }

  .logo__section__selector-item__icon {
    display: flex;
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    border-radius: 4px;
  }

  html.dark .logo__section__dropdown-btn:hover {
    background-color: #171717;
  }

  .logo__section__dropdown-btn:hover {
    background-color: #f8fafc;
    border-color: #d1d5db;
  }

  html.dark .logo__section__selector-current-num,
  html.dark .logo__section__selector-current-num--dropdown {
    background-color: #171717;
  }
  .logo__section__mobile-btn {
    display: none;
  }
  .logo__section__selector-current-num,
  .logo__section__selector-current-num--dropdown {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    gap: 2px;
    height: 20px;
    color: #909090;
    border-radius: 4px;
    justify-content: center;
    position: relative;
    width: 20px;
    font-size: 12px;
    background-color: #f5f5f7;
    margin-left: auto;
  }

  html.dark .logo__section__selector-current-num--dropdown {
    background-color: #1b1b1b;
  }

  .logo__section__selector-current-num--dropdown {
    background-color: #ececf0;
  }

  html.dark .logo__section__selector-items {
    background-color: #111;
    border: 1px solid #333;
    box-shadow: none;
  }

  .logo__section__selector-items {
    border-radius: 4px;
    background: #fff;
    border: 1px solid #e4e4e5;
    box-shadow: 0 0 16px rgba(17, 17, 26, 0.1);
    flex-direction: column;
    gap: 2px;
    position: absolute;
    left: -1px;
    right: -1px;
    top: calc(100% + 4px);
    z-index: 99;
    overflow: hidden;
  }

  .logo__section__selector-item,
  .logo__section__selector-item--docs {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 40px;
    color: #6b7280;
    font-size: 14px;
    font-weight: 400;
    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    padding: 0 8px 0 0;
  }

  html.dark .logo__section__selector-item:hover,
  html.dark .logo__section__selector-item--docs:hover,
  html.dark .logo__section__selector-item:focus,
  html.dark .logo__section__selector-item--docs:focus {
    background-color: #171717;
    color: #f3f4f6;
  }

  .logo__section__selector-item:hover,
  .logo__section__selector-item--docs:hover,
  .logo__section__selector-item:focus,
  .logo__section__selector-item--docs:focus {
    background-color: #f5f5f7;
    color: #000;
  }

  .logo__section__dropdown-select {
    position: relative;
    display: none;
  }

  .section__select {
    appearance: none;
    background: none;
    color: transparent;
    cursor: pointer;
    right: 0;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  html.dark .logo__section__dropdown-content {
    background-color: #111;
    border: 1px solid #404040;
  }

  .logo__section__dropdown-content {
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    height: 40px;
    padding: 0 8px;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    border-radius: 4px;
    background-color: hsla(210, 7%, 95%, .27);
    border: 1px solid rgba(33, 39, 46, .12);
  }

  .external-link-icon {
      margin-left: auto;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
  }

  .external-link-icon svg {
      width: 14px;
      height: 14px;
      color: #000;
  }

  .logo__section__selector-item:hover .external-link-icon {
      opacity: 1;
  }

  .logo__section__selector-item:focus .external-link-icon {
      opacity: 1;
  }

  @media screen and (max-width: 768px) {
    .logo__section__selector {
      display: none;
    }
    .logo__section__dropdown-select {
      display: flex;
    }
  }
</style>
<script>
  const sectionSelector = document.querySelector("[data-section-selector]");

  const currentSectionNum = document.querySelector(
    "[data-current-section-num]",
  );
  const sectionSelectorItems = document.querySelector(
    ".logo__section__selector-items",
  );
  if (sectionSelector && sectionSelectorItems) {
    sectionSelector.addEventListener("click", (e) => {
      e.stopPropagation();
      sectionSelector.classList.toggle("logo__section__selector-item--active");
      sectionSelectorItems.classList.toggle("hidden");
    });
  }
  window.addEventListener("click", (e) => {
    const clickedElement = e.target as HTMLElement;
    if (!clickedElement.matches(".logo__section__selector-items")) {
      if (
        sectionSelectorItems &&
        sectionSelector &&
        !sectionSelectorItems.classList.contains("hidden") &&
        sectionSelector.classList.contains(
          "logo__section__selector-item--active",
        )
      ) {
        sectionSelector.classList.remove(
          "logo__section__selector-item--active",
        );
        sectionSelectorItems.classList.add("hidden");
      }
    }
  });

  let pos = 0;
  let maxpos = sectionSelectorItems
    ? sectionSelectorItems.children.length - 1
    : 0;

  window.addEventListener("keydown", (e) => {
    if (
      !e.metaKey &&
      (e.key === "1" || e.key === "2") &&
      document.activeElement!.tagName.toLowerCase() !== "input" &&
      document.activeElement!.tagName.toLowerCase() !== "textarea" &&
      document.activeElement!.id !== "inkeep-shadow:r2:"
    ) {
      e.preventDefault();
      if (sectionSelectorItems && sectionSelector && currentSectionNum) {
        pos = +e.key - 1;
        if (
          currentSectionNum.textContent?.trim() === e.key &&
          sectionSelectorItems.classList.contains("hidden")
        ) {
          sectionSelector.classList.add("logo__section__selector-item--active");
          sectionSelectorItems.classList.remove("hidden");
        }
      }
    }
    if (e.key === "Escape") {
      if (sectionSelectorItems && sectionSelector) {
        sectionSelector.classList.remove(
          "logo__section__selector-item--active",
        );
        sectionSelectorItems.classList.add("hidden");
      }
    }
    if (
      sectionSelectorItems &&
      !sectionSelectorItems?.classList.contains("hidden")
    ) {
      if (e.key === "ArrowUp") {
        e.preventDefault();
        pos = pos == 0 ? maxpos : pos - 1;
      }
      if (e.key === "ArrowDown") {
        e.preventDefault();
        pos = pos == maxpos ? 0 : pos + 1;
      }
      (sectionSelectorItems.children[pos] as HTMLAnchorElement).focus();
    }
  });

  const sectionSelect = document.getElementById("section__select");
  if (sectionSelect) {
    sectionSelect.addEventListener("change", (e) => {
      const value = (e.target as HTMLSelectElement).value;
      if (value === "docs") {
        window.location.href = "/docs/overview";
      }
      if (value === "learn") {
        window.location.href = "/learn";
      }
    });
  }
</script>
<style is:global>
  html.dark .logo__section-icon svg {
    color: rgb(150, 199, 242);
  }

  html.dark .logo__section__selector-item--docs svg {
    color: #3f4149;
    fill: #6b7280;
  }

  html.dark .logo__section-icon--docs svg,
  html.dark .logo__section__selector-item--docs:hover svg,
  .logo__section__selector-item--docs:hover svg,
  html.dark .logo__section__selector-item--docs:focus svg,
  .logo__section__selector-item--docs:focus svg {
    color: rgb(0, 106, 220);
    fill: rgb(150, 199, 242);
  }

  .logo__section__selector-item--docs svg {
    color: #6b7280;
    fill: #b6b8c0;
  }

  .logo__section-icon svg {
    width: 20px;
    height: 20px;
    color: rgb(0, 106, 220);
    fill: rgb(150, 199, 242);
  }

  html.dark .logo__section__selector-item:hover svg,
  html.dark .logo__section__selector-item:focus svg {
    color: #96c7f2;
  }
  .logo__section__selector-item:hover svg,
  .logo__section__selector-item:focus svg {
    color: #333;
  }
  .logo__section__selector-item svg,
  .logo__section__selector-item--docs svg {
    width: 20px;
    height: 20px;
    color: rgb(107, 114, 128);
    transition: all 0.2s ease-in-out;
  }

  html.dark .logo__section__selector-item--active {
    background-color: #171717;
  }

  .logo__section__selector-item--active {
    background-color: #f5f5f7;
  }

  .logo__section__selector-item--active .logo__section__selector-chevron {
    opacity: 1 !important;
  }
</style>
