---
import AsideSponsors from "./AsideSponsors.astro";
import CarbonCard from "./CarbonCard.astro";
---

<div class="aside-right">
  <div class="aside-right__content">
    <AsideSponsors />
  </div>
  <CarbonCard />
</div>
<style>

  html.dark .aside-right {
    border-left: 1px solid #303030;
  }
  .aside-right {
    flex: 1;
    padding: 24px 12px 12px;
    width: 100%;
    display: flex;
    max-width: 272px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid #efefef;
  }

  .aside-right__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width: 1024px) {
    .aside-right {
      display: none;
    }
  }
</style>
