<div class="search-wrap" id="docsearch"></div>
<script is:inline>
  docsearch({
    container: '#docsearch',
    placeholder: "Search documentation...",
    appId: "MXZNUT59HV",
    apiKey: "7c390e262ac8858df0b6624d01d9dfef",
    indexName: "orm-drizzle",
  });
  </script>