---
import DocsIcon from "@/assets/icons/DocsIcon.astro";

const slug = Astro.url.pathname || "";
---

<div class="wrap">
  <a href="/docs/overview">
    <div class:list={["button", slug.startsWith("/docs") && "selected"]}>
      <div class="icon docs">
        <DocsIcon />
      </div>
      <div class="text">Docs</div>
    </div>
  </a>
 
</div>

<style>
  html[class~="dark"] .wrap {
    background-color: #111111;
  }

  .wrap {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 4px;
    background-color: #ffffff;
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  html[class~="dark"] .selected .text {
    color: rgb(0, 138, 230);
  }

  html[class~="dark"] .selected .icon {
    background-color: #102a4c;
    color: #96c7f2;
    fill: #006adc;
  }

  html[class~="dark"] .text {
    color: #737373;
  }

  html[class~="dark"] .icon {
    color: #737373;
    fill: #424242;
  }

  html[class~="dark"] .button:not(.selected):hover .text {
    color: rgb(249, 250, 251);
  }

  html[class~="dark"] .button:not(.selected):hover .icon {
    color: #f9fafb;
    fill: #b3b4b5;
  }

  .selected .text {
    color: rgb(0, 98, 163);
  }

  .icon {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #737373;
    fill: #b9b9b9;
    transition-property: color, background-color, border-color, fill;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon svg {
    width: 24px;
    height: 24px;
  }

  .selected .icon {
    color: #006adc;
    fill: #a1c6ee;
    background-color: #e1f0ff;
  }

  .text {
    font-weight: 600;
    color: rgb(107, 114, 128);
    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button:not(.selected):hover .text {
    color: rgba(17, 24, 39);
  }

  html.dark .new-tag {
    color: rgb(0, 138, 230);
  }

  .new-tag {
    color: #006adc;
    margin-bottom: -2px;
  }

  .new-tag svg {
    width: 30px;
    height: 30px;
  }
</style>

<style is:global>
  .wrap .icon svg {
    width: 20px;
    height: 20px;
  }

  .wrap .layers svg {
    width: 24px;
    height: 24px;
  }

  html.dark .button:not(.selected):hover .docs svg {
    color: #b3b4b5;
    fill: #f9fafb;
  }

  html.dark .docs svg {
    color: #424242;
    fill: #737373;
    transition-duration: .15s;
    transition-property: color, background-color, border-color, fill;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  }

  html.dark .selected .docs svg  {
    color: #006adc;
    fill: #96c7f2;
  }
</style>