---
import BracketsIcon from "@components/Icons/BracketsIcon.astro";
import LayersIcon from "@components/Icons/LayersIcon.astro";
import WindowFrameIcon from "@components/Icons/WindowFrameIcon.astro";

interface Props {
  slug: string;
}

const { slug = "" } = Astro.props;
---

<div class="wrap">
  <a href="/docs/overview/">
    <div class:list={["button", slug.startsWith("docs") && "selected"]}>
      <div class="icon brackets">
        <BracketsIcon />
      </div>
      <div class="text">Drizzle ORM</div>
    </div>
  </a>
  <a href="/kit-docs/overview/">
    <div class:list={["button", slug.startsWith("kit-docs") && "selected"]}>
      <div class="icon">
        <LayersIcon />
      </div>
      <div class="text">Drizzle Kit</div>
    </div>
  </a>
  <a href="/drizzle-studio/overview/">
    <div
      class:list={["button", slug.startsWith("drizzle-studio") && "selected"]}
    >
      <div class="icon frame">
        <WindowFrameIcon />
      </div>
      <div class="text">Drizzle Studio</div>
    </div>
  </a>
  <div class="fadeout"></div>
</div>

<style>
  html[class~="dark"] .wrap {
    background-color: #111111;
  }

  .wrap {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 22px 16px 16px 24px;
    background-color: #ffffff;
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  html[class~="dark"] .selected .text {
    color: rgb(0, 138, 230);
  }

  html[class~="dark"] .selected .icon {
    background-color: #102a4c;
    color: #96c7f2;
    fill: #006adc;
  }

  html[class~="dark"] .text {
    color: #737373;
  }

  html[class~="dark"] .icon {
    color: #737373;
    fill: #424242;
  }

  html[class~="dark"] .button:not(.selected):hover .text {
    color: rgb(249, 250, 251);
  }

  html[class~="dark"] .button:not(.selected):hover .icon {
    color: #f9fafb;
    fill: #b3b4b5;
  }

  .selected .text {
    color: rgb(0, 98, 163);
  }

  .icon {
    width: 32px;
    height: 32px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #737373;
    fill: #b9b9b9;
    transition-property: color, background-color, border-color, fill;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .brackets {
    fill: #737373;
    color: #b9b9b9;
  }

  .icon svg {
    width: 24px;
    height: 24px;
  }

  .selected .icon {
    color: #006adc;
    fill: #a1c6ee;
    background-color: #e1f0ff;
  }

  .text {
    font-weight: 600;
    color: rgb(107, 114, 128);
    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button:not(.selected):hover .text {
    color: rgba(17, 24, 39);
  }

  html[class~="dark"] .fadeout {
    background: linear-gradient(to bottom, #111111 0%, transparent 100%);
  }

  .fadeout {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    z-index: 12312312;
    height: 20px;
    width: 100%;
    background: linear-gradient(to bottom, #ffffff 0%, transparent 100%);
    left: 0;
    pointer-events: none;
  }
</style>

<style is:global>
  html[class~="dark"] .selected .togglelib-icon-primary {
    fill: #47698f;
  }

  html[class~="dark"] .selected .togglelib-icon-secondary {
    fill: #6e98c1;
  }

  html[class~="dark"] .selected .togglelib-icon-tertiary {
    fill: #96c7f2;
  }

  html[class~="dark"] .togglelib-icon-primary {
    fill: #424242;
  }

  html[class~="dark"] .togglelib-icon-secondary {
    fill: #565656;
  }

  html[class~="dark"] .togglelib-icon-tertiary {
    fill: #737373;
  }

  html[class~="dark"] .button:not(.selected):hover .togglelib-icon-primary {
    fill: #858586;
  }

  html[class~="dark"] .button:not(.selected):hover .togglelib-icon-secondary {
    fill: #b3b4b5;
  }

  html[class~="dark"] .button:not(.selected):hover .togglelib-icon-tertiary {
    fill: #f9fafb;
  }

  .selected .togglelib-icon-primary {
    fill: #006adc;
  }

  .selected .togglelib-icon-secondary {
    fill: #4593e6;
  }

  .selected .togglelib-icon-tertiary {
    fill: #71aded;
  }

  .togglelib-icon-primary {
    fill: #737373;
  }

  .togglelib-icon-secondary {
    fill: #9d9d9d;
  }

  .togglelib-icon-tertiary {
    fill: #b9b9b9;
  }
</style>
