---
import BracketsIcon from "@components/Icons/BracketsIcon.astro";
import DocsIcon from "@components/Icons/DocsIcon.astro";
import LearnIcon from "@components/Icons/LearnIcon.astro";

const slug = Astro.url.pathname || "";
---

<div class="wrap">
  <a href="/docs/overview">
    <div class:list={["button", slug.startsWith("/docs") && "selected"]}>
      <div class="icon docs">
        <DocsIcon />
      </div>
      <div class="text">Docs</div>
    </div>
  </a>
  <a href="/learn">
    <div class:list={["button", slug.startsWith("/learn") && "selected"]}>
      <div class="icon frame">
        <LearnIcon />
      </div>
      <div class="text">Learn</div>
      <div class="new-tag">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.2345 6H3.75665C2.77681 6 2 6.78564 2 7.76548L2.00005 16.5929C2.00005 17.5727 2.77686 18.3584 3.7567 18.3584H20.2345C21.2143 18.3584 22 17.5727 22 16.5929L21.9999 7.76548C21.9999 6.78564 21.2143 6 20.2345 6ZM9.07963 14.13C9.07963 14.5096 8.76185 14.8274 8.38227 14.8274C8.16158 14.8274 7.94973 14.7215 7.81732 14.5361L5.76936 11.7378V14.2801C5.76936 14.5891 5.52219 14.8274 5.22206 14.8274C4.92193 14.8274 4.66594 14.5802 4.66594 14.2801V10.2283C4.66594 9.84874 4.98372 9.53096 5.3633 9.53096H5.40744C5.63695 9.53096 5.84881 9.63689 5.98122 9.82226L7.97621 12.6205V10.0783C7.97621 9.77813 8.22338 9.53096 8.53233 9.53096C8.84129 9.53096 9.07963 9.77813 9.07963 10.0783V14.13ZM13.4933 10.0959C13.4933 10.4049 13.2462 10.6432 12.946 10.6432H11.2865V11.6319H12.946C13.255 11.6319 13.4933 11.879 13.4933 12.1792V12.188C13.4933 12.497 13.2462 12.7353 12.946 12.7353H11.2865V13.7151H12.946C13.255 13.7151 13.4933 13.9623 13.4933 14.2624C13.4933 14.5714 13.2462 14.8097 12.946 14.8097H10.7127C10.5137 14.8097 10.3229 14.7307 10.1821 14.59C10.0414 14.4493 9.96237 14.2584 9.96237 14.0594V10.2636C9.96237 9.8664 10.2978 9.53096 10.7127 9.53096H12.946C13.255 9.53096 13.4933 9.77813 13.4933 10.0783V10.0959ZM19.646 13.9447C19.646 14.4302 19.2753 14.8274 18.7898 14.8274H15.2588C14.7733 14.8274 14.3761 14.4302 14.3761 13.9447V10.0783C14.3761 9.77813 14.6232 9.53096 14.9234 9.53096C15.2235 9.53096 15.4707 9.77813 15.4707 10.0783V13.5121H16.4682V10.9522C16.4682 10.6432 16.7153 10.4049 17.0155 10.4049C17.3156 10.4049 17.5628 10.652 17.5628 10.9522V13.5033H18.5514V10.0783C18.5514 9.7693 18.7986 9.53096 19.0987 9.53096C19.3989 9.53096 19.646 9.77813 19.646 10.0783V13.9447Z"
            fill="currentColor"></path>
        </svg>
      </div>
    </div>
  </a>
</div>

<style>
  html[class~="dark"] .wrap {
    background-color: #111111;
  }

  .wrap {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 4px;
    background-color: #ffffff;
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  html[class~="dark"] .selected .text {
    color: rgb(0, 138, 230);
  }

  html[class~="dark"] .selected .icon {
    background-color: #102a4c;
    color: #96c7f2;
    fill: #006adc;
  }

  html[class~="dark"] .text {
    color: #737373;
  }

  html[class~="dark"] .icon {
    color: #737373;
    fill: #424242;
  }

  html[class~="dark"] .button:not(.selected):hover .text {
    color: rgb(249, 250, 251);
  }

  html[class~="dark"] .button:not(.selected):hover .icon {
    color: #f9fafb;
    fill: #b3b4b5;
  }

  .selected .text {
    color: rgb(0, 98, 163);
  }

  .icon {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #737373;
    fill: #b9b9b9;
    transition-property: color, background-color, border-color, fill;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon svg {
    width: 24px;
    height: 24px;
  }

  .selected .icon {
    color: #006adc;
    fill: #a1c6ee;
    background-color: #e1f0ff;
  }

  .text {
    font-weight: 600;
    color: rgb(107, 114, 128);
    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button:not(.selected):hover .text {
    color: rgba(17, 24, 39);
  }

  html.dark .new-tag {
    color: rgb(0, 138, 230);
  }

  .new-tag {
    color: #006adc;
    margin-bottom: -2px;
  }

  .new-tag svg {
    width: 30px;
    height: 30px;
  }
</style>

<style is:global>
  .wrap .icon svg {
    width: 20px;
    height: 20px;
  }

  html.dark .button:not(.selected):hover .docs svg {
    color: #b3b4b5;
    fill: #f9fafb;
  }

  html.dark .docs svg {
    color: #424242;
    fill: #737373;
    transition-duration: .15s;
    transition-property: color, background-color, border-color, fill;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  }

  html.dark .selected .docs svg  {
    color: #006adc;
    fill: #96c7f2;
  }
</style>