.container {
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 64px;
}

.left {
  width: 100%;
  -ms-flex-negative: 3;
      flex-shrink: 3;
  padding-left: 16px;
}

.right {
  overflow: hidden;
  max-width: 540px;
  width: 100%;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  height: 490px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content div {
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 35px;
  background-color: #252526;
}

.tab {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 28px;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  height: 35px;
  background-color: #2d2d2d;
  color:  rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgb(37, 37, 38);
}

.tab_active {
  background-color: #1e1e1e;
  color: #FFFFFF;
}