html[class~=dark] .dark {
  display: contents;
}

html[class~=dark] .light {
  display: none;
}

.wrap {
  display: flex;
  flex-direction: row;
}

.content {
  position: relative;
  width: 50%;
}

.typing {
  margin-top: 150px;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  display: flex;
  flex-direction: column;
}

.text_image {
  width: 29%;
  right: 80px;
  bottom: 0;
  position: absolute;
  margin-left: auto;
}

.picture_wrapper {
  display: contents;
}

.picture_block {
  position: relative;
  margin-top: 20px;
  display: flex;
  width: 50%;
  flex-direction: row;
}

.picture {
  width: 100%;
}

.particle {
  width: 18%;
  position: absolute;
  right: -80px;
  top: 40px;
}

.addition_image {
  display: none;
  width: 14%;
  height: fit-content;
  transform: rotateY(180deg);
}

@media (max-width: 1023px) {
  .typing {
    font-size: 32px;
    line-height: 40px;
    margin-top: 120px;
  }
  .text_image {
    right: 40px;
  }
}

@media (max-width: 767px) {
  .typing {
    font-size: 24px;
    line-height: 30px;
    margin-top: 80px;
  }
  .text_image {
    right: 40px;
  }
}

@media (max-width: 599px) {
  .wrap {
    flex-direction: column;
  }
  .content {
    width: 100%;
  }
  .typing {
    margin-top: 40px;
    font-size: 20px;
    line-height: 24px;
  }
  .picture_block {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }
  .picture {
    width: 50%;
  }
  .addition_image {
    display: block;
  }
  .text_image {
    display: none;
  }
}
