html[class~=dark] .dark {
  display: contents;
}

html[class~=dark] .light {
  display: none;
}

.wrap {
  display: flex;
  flex-direction: row;
  max-height: 490px;
  width: 100%;
}

.content {
  position: relative;
  width: 50%;
}

.typing {
  margin-top: 150px;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  display: flex;
  flex-direction: column;
}

.text_image {
  width: 29%;
  right: 80px;
  bottom: 0;
  position: absolute;
  margin-left: auto;
}

.picture_wrapper {
  display: contents;
}

.picture_block {
  position: relative;
  margin-top: 20px;
  display: flex;
  width: 50%;
  flex-direction: row;
}

.mainpicture_wrapper {
  width: 100%;
}

.picture {
  width: 100%;
}

.particle {
  width: 18%;
  position: absolute;
  right: -16%;
  top: 8.5%;
}

.addition_image {
  display: none;
  width: 21%;
  height: auto;
  transform: rotateY(180deg);
}

@media (max-width: 1023px) {
  .typing {
    font-size: 32px;
    line-height: 40px;
    margin-top: 120px;
  }
  .text_image {
    right: 40px;
  }
}

@media (max-width: 767px) {
  .typing {
    font-size: 24px;
    line-height: 30px;
    margin-top: 80px;
  }
  .text_image {
    right: 40px;
  }
}

@media (max-width: 599px) {
  .wrap {
    flex-direction: column;
  }
  .content {
    width: 100%;
  }
  .typing {
    margin-top: 40px;
    font-size: 20px;
    line-height: 24px;
  }
  .picture_block {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }
  .mainpicture_wrapper {
    width: 70%;
  }
  .picture {
    width: 100%;
  }
  .addition_image {
    display: block;
  }
  .text_image {
    display: none;
  }
  .particle {
    display: none;
  }
}

.team {
  position: absolute;
  top: 130px;
  right: 3px;
  border-collapse: collapse;
  font-family: 'FirstTimeWriting';
  font-weight: bold;
  font-size: 22px;
  text-shadow: 0 0 0.5px black;
  display: inline-grid;
  grid-template-columns: max-content 150px 250px;
  grid-auto-rows: 1fr;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  transform: rotate(2deg);
}

.team > * {
  border-radius: 0;
  border-top: 3px solid black;
  border-right: 3px solid black;
  padding: 3px 30px;
  background-color: #111111;
  text-align: center;
  margin: 0;
  text-decoration: none;
  position: relative;
  color: black;
}

.team a.handle:hover:after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 8px;
  right: 0;
  bottom: 0;
  color: transparent;
  text-shadow: none;
  white-space: nowrap;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 3px;
  text-decoration-color: rgb(75, 183, 74);
}

@media (prefers-color-scheme: dark) {
  .team > * {
    color: white;
  }
  .team,
  .team > * {
    border-color: white;
  }
}
