---
import Layout from "@/ui/Layout.astro";
import Supporting from "@components/landing/Supporting.astro";
import { runtimes, databases } from "@/data/databases-and-runtimes";
import DrizzleStudio from "@components/landing/DrizzleStudio.astro";
import Pricing from "@components/landing/Pricing.astro";
import Tweets from "@components/landing/Tweets.astro";
import SponsorsLine from "@components/landing/SponsorsLine.astro";
import Benchmark from "@components/landing/benchmark/Benchmark";
import Header from "@components/landing/Header.astro";
import Developers from "@components/landing/Developers.astro";

const runtimeNames: string[] = [
  "Railway",
  "Cloudflare Workers",
  "Supabase functions",
  "Vercel functions",
  "Deno deploy",
  "Bun",
  "Lagon",
  "Fly.io",
  "ElectronJS",
  "Expo",
  "React Native",
  "Browser",
];
const databaseNames: string[] = [
  "Gel",
  "SingleStore",
  "Neon",
  "Vercel Postgres",
  "Turso",
  "Supabase",
  "Xata",
  "PostgreSQL",
  "TiDB",
  "MySQL",
  "SQLite Cloud",
  "LiteFS",
  "PlanetScale",
  "SQLite",
  "Prisma Postgres",
  "Web SQLite",
];
---

<Layout title="Drizzle ORM - next gen TypeScript ORM.">
  <div class="wrap">
    <Header />
    <Developers />
    <Benchmark client:load />
    <Supporting
      rowsNum={4}
      imageType="liveontheedge"
      title="Live on the edge"
      description="We support every major serverful and serverless runtime"
      items={runtimeNames}
      data={runtimes}
    />
    <Supporting
      rowsNum={3}
      imageType="connecteverywhere"
      title="Connect to any database"
      description="We support all platform-specific, tcp, http and websocket based drivers"
      items={databaseNames}
      data={databases}
    />
    <DrizzleStudio />
    <SponsorsLine />
    <div id="pricing"></div>
    <Pricing />
    <Tweets />
  </div>

  <style>
    .wrap {
      max-width: 1080px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      color: #222;
    }

    html[class~="dark"] .wrap {
      color: rgb(226, 232, 240);
    }
  </style>
  <script>
    window.addEventListener("beforeunload", () => {
      localStorage.setItem("sidebar-scroll", "0");
    });
  </script>
</Layout>
