---
const { href, value } = Astro.props;
---
<a href={href} class="mdx-button">
  {value}
</a>
<style>
  html[class~=dark] .mdx-button:hover {
    color: #f9fafb;
  }
  
  html[class~=dark] .mdx-button {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(138, 208, 255, 0.1);
    color: #9ca3af;
  }

  .mdx-button:hover {
    color: #111827;
  }

  .mdx-button {
    text-decoration: none;
    text-transform: none;
    -webkit-appearance: button;
    background-image: none;
    cursor: pointer;
    outline-offset: 2px;
    outline: 2px solid transparent;
    border-radius: .375rem;
    border: 1px solid rgba(0,0,0,.05);
    background-color: rgba(0, 93, 199, 0.05);
    padding: .375rem;
    color: #4b5563;
    transition-property: all;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    backdrop-filter: blur(12px);
  }
</style>