---
interface Props {
  type: 'default' | 'info' | 'warning' | 'error';
  title?: string;
  icon?: string;
}

const { type = 'default', title, emoji = '💡' } = Astro.props;
---
<div>
  {type === 'warning' && !title && (
    <div class:list={["callout-label", type]}>{"IMPORTANT"}</div>
  )}
  {type === 'error' && !title && (
    <div class:list={["callout-label", type]}>{"WARNING"}</div>
  )}
  {!!title && (
    <div class:list={["callout-label", type]}>{title}</div>
  )}
  <div class:list={["callout-wrap"]}>
    <div class="callout-content">
      <slot/>
    </div>
  </div>
</div>