---
import IsSupportedChip from './IsSupportedChip.astro';

interface Props {
  chips: Record<string, boolean>;
  joined?: boolean;
}

const { chips, joined } = Astro.props;
---
<div class:list={['is-supported-chip-group', joined ? 'is-supported-chip-group-joined' : '' ]}>
  {
    Object.entries(chips).map(([text, isSupported]) => (
      <IsSupportedChip isSupported={isSupported} text={text} />
    ))
}
</div>

<style is:global>
  .is-supported-chip {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 1px 6px;
  border-radius: 5px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.04);
}

.is-supported svg {
  flex-shrink: 0;
}

.is-supported-text {
  font-size: 14px;
  font-weight: 500;
  font-family: monospace, 'Menlo';
  color: #334155;
}

.is-supported-chip-group {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  padding-top: 24px;
}

.is-supported-chip-group-joined {
  gap: 0px;
}

.is-supported-chip-group-joined .is-supported-chip {
  border-radius: 0px;
  border-left: none;
  padding-right: 10px;
}

.is-supported-chip-group-joined .is-supported-chip:first-child {
  border-left: 1px solid #3F3D3F;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.is-supported-chip-group-joined .is-supported-chip:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


html[class~=dark] .is-supported-chip {
  background: #292829;
  border: 1px solid #3F3D3F;
}

html[class~=dark] .is-supported-text {
  color: #D8DEE6;
}
</style>