---
import { getCollection } from "astro:content";

const { slug } = Astro.params;
const articles = await getCollection("latest-releases");
const filteredArticles = articles
  .filter((article) => article.data.pubDate)
  .reverse();
const currentArticleIndex = filteredArticles.findIndex(
  (article) => article.slug === slug,
);

const prevArticles = filteredArticles.slice(
  currentArticleIndex + 1,
  currentArticleIndex + 6,
);
---

{
  prevArticles.length ? (
    <div class="prev_articles__wrap">
      Check out prev articles:
      <ul>
        {prevArticles.map((article) => (
          <li>
            <a href={`/docs/latest-releases/${article.slug}`}>{article.data.title}</a>
          </li>
        ))}
      </ul>
    </div>
  ) : null
}
<style>
  .prev_articles__wrap {
    margin-top: 24px;
  }
</style>