---
import { getCollection } from "astro:content";
import categories from "../../../content/guides/_categories.json";
import Breadcrumbs from "@components/layout/Breadcrumbs.astro";
import MeshLayout from "@/layouts/MeshLayout.astro";

export async function getStaticPaths() {
  const releasesEntries = await getCollection("guides");
  
  const paths = [
    ...new Set(releasesEntries.map((entry) => entry.data.slug.split("/")[0])),
  ];

  return paths.map((path) => ({
    params: { category: path },
    props: {
      relativeEntries: releasesEntries.filter(
        (entry) => entry.data.slug.split("/")[0] === path,
      ),
    },
  }));
}

const { relativeEntries } = Astro.props;
const { category } = Astro.params;
---

<MeshLayout>
  <div class="frame__wrap">
    <div class="frame__column">
      <div class="learn__title-block">
        <Breadcrumbs crumbs={{ Learn: "/learn", Guides: "/learn/guides" }} />
        <div class="latest-release_title">
          {categories[category as keyof typeof categories]}
        </div>
      </div>
      <div class="frame__empty-cell"></div>
    </div>
    <div class="frame__column--main-content">
      <div class="frame__main-content-cell">
        <div class="guides__selected-guides">
          {
            relativeEntries.map((entry) => (
              <div class="guides__selected-guides__card">
                <div class="guides__selected-guides__card_title">
                  {entry.data.title}
                </div>
                <a
                  href={`/learn/guides/${entry.data.slug}`}
                  class="guides__selected-guides__card_view"
                >
                  View
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M4.1665 10H15.8332"
                      stroke="currentColor"
                      stroke-width="1.66667"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M10 4.16669L15.8333 10L10 15.8334"
                      stroke="currentColor"
                      stroke-width="1.66667"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
              </div>
            ))
          }
        </div>
      </div>
      <div class="frame__empty-cell_wrap">
        <div class="frame__empty-cell--main-content--auto"></div>
      </div>
    </div>
  </div>
</MeshLayout>

<style>
  .guides__selected-guides {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-top: 32px;
    margin-bottom: 40px;
  }

  html.dark .guides__selected-guides__card {
    border: 1px solid #303030;
    background: #171717;
  }

  .guides__selected-guides__card {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 150px;
    border-radius: 8px;
    border: 1px solid #e7ebef;
    background: #f3f7fd;
    padding: 20px 16px;
  }

  html.dark .guides__selected-guides__card_title {
    color: #e2e6f0;
  }

  .guides__selected-guides__card_title {
    color: #222124;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
  }

  html.dark .guides__selected-guides__card_description {
    color: #e2e6f0;
  }

  .guides__selected-guides__card_description {
    color: #4b5563;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    margin-top: 8px;
  }

  html.dark .guides__selected-guides__card_view {
    color: #006be6;
  }

  .guides__selected-guides__card_view {
    display: flex;
    gap: 12px;
    color: #006adc;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    margin-top: auto;
    text-decoration: none;
  }

  html.dark .latest-release_title {
    color: #e2e6f0;
  }

  .latest-release_title {
    color: #0f172a;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.48px;
    margin-bottom: 16px;
    margin-top: 8px;
  }

  .frame__wrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  html.dark .frame__column {
    border-bottom: 1px solid #303030;
  }

  .frame__column {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #efefef;
  }

  html.dark .frame__empty-cell {
    border-left: 1px solid #303030;
    border-right: 1px solid #303030;
  }

  .frame__empty-cell {
    display: flex;
    justify-content: center;
    width: 334px;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    margin-right: 62px;
  }

  html.dark .learn__title-block {
    border-left: 1px solid #303030;
  }

  .learn__title-block {
    display: flex;
    flex-direction: column;
    max-width: 920px;
    width: 100%;
    margin-left: 128px;
    padding-left: 24px;
    padding-right: 72px;
    padding-top: 24px;
    flex-shrink: 0;
    border-left: 1px solid #efefef;
  }

  .frame__column--main-content {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    height: fit-content;
    min-height: 100%;
  }

  html.dark .frame__empty-cell--main-content--auto {
    border-left: 1px solid #303030;
    border-right: 1px solid #303030;
  }

  .frame__empty-cell--main-content--auto {
    height: auto;
    flex: 1 1 auto;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
  }

  .frame__empty-cell_wrap {
    display: flex;
    flex-direction: column;
    width: 334px;
    margin-right: 62px;
  }

  html.dark .frame__main-content-cell {
    border-left: 1px solid #303030;
  }

  .frame__main-content-cell {
    display: flex;
    flex-direction: column;
    max-width: 920px;
    width: 100%;
    margin-left: 128px;
    padding-left: 24px;
    padding-right: 72px;
    flex-shrink: 0;
    border-left: 1px solid #efefef;
  }
</style>
