.header_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
  justify-content:space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.buttons > div {
  cursor: pointer;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.query {
  text-align: center;
  width: 300px;
}

.chart_block {
  display: flex;
  flex-direction: row;
  height: 300px;
  justify-content: center;
}