.wrap {
  border-top: 1px solid #ECECEC;
  display: none;
}

html[class~=dark] .wrap {
  border-top: 1px solid #2A2A2A;
}

.container {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: calc(env(safe-area-inset-bottom, 12px));
}

@media screen and (max-width: 768px) {
  .wrap {
    display: block;
  }
}