.button-wrap {
  border-color: rgba(0,0,0,.05);
  border-width: 1px;
  border-radius: 0.375rem;
  cursor: pointer;
  opacity: 0;
  text-transform: none;
  font-size: 100%;
  outline-offset: 2px;
  outline: 2px solid transparent;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
       -o-transition-timing-function: cubic-bezier(.4,0,.2,1);
          transition-timing-function: cubic-bezier(.4,0,.2,1);
  padding: 0.375rem;
  background-color: #EBF0F9;
  position: absolute;
  top: 0;
  right: 0;
  margin: 11px;
  color: rgba(75,85,99, 0.6);
}