.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  cursor: pointer;
}

.logo_green svg, .logo_white svg {
  width: 36px;
  height: 36px;
}

.logo_green {
  color: #C5F74F;
}

.logo_white {
  color: #000000;
}