.header {
  font-size: 32px;
  font-weight: bold;
  padding: 20px;
}

.wrap {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.code { 
  width: 45%;
  height: 100%;
}

.wrap > div > pre {
  height: 100%;
}

.icon {
  width: 60px;
  height: 60px;
}