.wrap {
    margin: 160px auto;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.description {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 80px;
}

.buttons_description {
    font-size: 12px;
    text-align: center;
    color: #999;
    font-weight: 500;
}

.blocks_wrap {
    display: flex;
    justify-content: center;
}

.left_block {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 50%;
    gap: 40px;
    max-width: 362px;
}

.buttons_wrap_sponsor {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.right_block {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 362px;
    gap: 40px;
}

.divider {
    margin: 0 40px;
    border-right: 1px solid #F0F0F0;
    width: 1px;
}

.right_block img {
    transform: rotateY(180deg);
}

.image_wrap {
    width: 32%;
}

.buttons_wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.break {
    display: none;
}

html[class~=dark] .button {
    color: #cccccc;
    background-color: rgba(255,255,255,0.05);
}



.button {
    width: 212px;
    border-radius: 3px;
    color: #282b3b;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    border: 1px solid rgba(33, 39, 46, 0.12);
    background-color: rgba(240, 241, 242, 0.27);
}

html[class~=dark] .sponsor_button {
    color: #FFFFFF;
    border: 1px solid rgba(255,255,255,0.2);
}

html[class~=dark] .button svg {
    fill: #cccccc;
    color: #cccccc;
}

.button svg {
    width: 20px;
    fill: #2b2b2b;
    color: #2b2b2b;
}

 html[class~=dark] .sponsor_button svg {
     fill: rgba(255,255,255,0.1);
     color: #FFFFFF;
 }

.sponsor_button svg {
    fill: rgba(255,255,255,0.1);
}

@media (max-width: 900px) {
    .left_block, .right_block {
        gap: 20px;
    }
    .divider {
        margin: 0 20px;
    }
}

@media (max-width: 767px) {
    .button {
        font-size: 14px;
    }
    .blocks_wrap {
        flex-direction: column;
        gap: 80px;
        align-items: center;
    }
    .left_block, .right_block {
        width: 100%;
        justify-content: space-between;
    }
    .divider {
        display: none;
    }
    .image_wrap {
        margin-right: 0;
    }
    .break {
        display: inline;
    }
}

@media (max-width: 599px) {
    .title {
        font-size: 20px;
        margin-bottom: 8px;
    }
    .description {
        font-size: 14px;
    }
}

