.drop-container {
}

.drop-content {
    position: relative;
}

.open-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ffffff;
  z-index: 5;
  border-radius: 4px;
  padding: 6px 12px;
  background: none;
  cursor: pointer;
  width: 130px;
}

.drop-options {
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #30363d;
  background-color: #161b22;
  border-radius: 6px;
  position: absolute;
  top: 30px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.drop-option {
  z-index: 99;
  cursor: pointer;
  height: 100%;
  border: none;
  width: 100px;
  font-size: 14px;
  border: 0;
  color: #c9d1d9;
  text-align: left;
  padding: 4px 8px 4px 16px;
  background-color: #161b22;
}

.drop-option:hover {
  color: #ffffff;
  background-color: #1f6feb;
}