@font-face {
  font-family: 'Menlo';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo'), url('../assets/fonts/menlo/Menlo-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'FirstTimeWriting';
  src: url('../assets/fonts/FirstTimeWriting.ttf') format('truetype');
}

.simplebar-scrollbar:before {
  background: rgba(255,255,255, 0.7) !important;
}

.console {
  margin: 20px 0 !important;
  padding: 0 20px;
}

.nx-max-w-4xl {
  max-width: 1080px !important;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  top: 2px !important;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar {
  left: 2px !important;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

pre {
  tab-size: 2;
}


.logo {
  width: 100px;
  height: 100px;
  fill: red;
}

.social-networks {
  display: contents;
}


@media screen and (max-width: 768px) {
  .social-networks {
    display: none;
  }
}

.youtube-iframe {
  width: 100%;
  height: auto;
  border: none;
}

li.nx-mt-5.nx-mb-2.nx-px-2.nx-text-sm.nx-font-semibold.nx-text-gray-900.first\:nx-mt-0.dark\:nx-text-gray-100 {
  margin-bottom: 0;
  padding-bottom: 0;
}

html[class~=dark] .search-wrap .DocSearch-Button {
  background-color: rgba(249,250,251,.1) !important;
}

html[class~=dark] .search-wrap .DocSearch-Button-Key {
  background: #484848;
  box-shadow: none;
  color: #fff;
  box-shadow: inset 0 -2px 0 0 rgba(249,250,251,.1),0 1px 2px 1px #484848;
}

.search-wrap .DocSearch-Button {
  background-color: rgba(0,0,0,.05);
  color: #8C919C;
  border-radius: 8px;
  width: 256px;
  height: 33px;
  margin: 0;
}

.search-wrap .DocSearch-Button:hover {
  box-shadow: none !important;
  background-color: rgba(0,0,0,.05);
  color: #8C919C !important;
}

.search-wrap .DocSearch-Button-Placeholder {
  font-size: 14px !important;
}

.search-wrap .DocSearch-Button svg {
  color: #8C919C !important;
}

input:focus-visible {
  box-shadow: none !important;
}
