@font-face {
  font-family: 'Menlo';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo'), url('../assets/fonts/menlo/Menlo-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'FirstTimeWriting';
  src: url('../assets/fonts/FirstTimeWriting.ttf') format('truetype');
}

.simplebar-scrollbar:before {
  background: rgba(255,255,255, 0.7) !important;
}

.console {
  margin: 20px 0 !important;
  padding: 0 20px;
}

.nx-max-w-4xl {
  max-width: 1080px !important;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  top: 2px !important;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar {
  left: 2px !important;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

pre {
  tab-size: 2;
}


.logo {
  width: 100px;
  height: 100px;
  fill: red;
}

html[class~=dark] a[href="/#pricing"] {
  --tw-text-opacity: 1;
  color: rgba(156,163,175,var(--tw-text-opacity));
}

html[class~=dark] a[href="/#pricing"]:hover {
  --tw-text-opacity: 1;
  color: rgba(229,231,235,var(--tw-text-opacity));
}


a[href="/#pricing"] {
  --tw-text-opacity: 1;
  color: rgba(75,85,99,var(--tw-text-opacity));
  font-weight: 400;
}

a[href="/#pricing"]:hover {
  --tw-text-opacity: 1;
  color: rgba(31,41,55,var(--tw-text-opacity));
}