@font-face {
  font-family: 'Menlo';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo'), url('../assets/fonts/menlo/Menlo-Regular.woff') format('woff');
  font-display: swap;
}

.simplebar-scrollbar:before {
  background: rgba(255,255,255, 0.7) !important;
}

.console {
  margin: 20px 0 !important;
  padding: 0 20px;
}

.nx-max-w-4xl {
  max-width: 1080px !important;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  top: 2px !important;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar {
  left: 2px !important;
}


.example-container {
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.example-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 64px;
}

.example-left {
  width: 100%;
  -ms-flex-negative: 3;
      flex-shrink: 3;
  padding-left: 16px;
}

.example-right {
  overflow: hidden;
  max-width: 540px;
  width: 100%;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  height: 490px;
}

.example-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.example-content div {
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}