@font-face {
  font-family: 'Menlo';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo'), url('../assets/fonts/menlo/Menlo-Regular.woff') format('woff');
  font-display: swap;
}

.simplebar-scrollbar:before {
  background: rgba(255,255,255, 0.7) !important;
}

.console {
  margin: 20px 0 !important;
  padding: 0 20px;
}

.nx-max-w-4xl {
  max-width: 1080px !important;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  top: 2px !important;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar {
  left: 2px !important;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
