.header_wrap {
  margin-top: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
  justify-content:space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  user-select: none;
}

.buttons > div {
  cursor: pointer;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
