.wrap {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 32px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  line-height: 1.75rem;
  margin-top: 1.5rem;
}