.header {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 20px;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 40px;
}

.block_wrap {
  flex-basis: 27%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  background-color: #868686;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.text {
  font-size: 32px;
  font-weight: bold;
}

.accent {
  color: #c9c9c9;
}

.bottom_text {
  font-size: 14px;
  text-transform: uppercase;
}