.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text_block {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.block_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header {
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
}

.text {
  font-size: 16px;
}

.button {
  padding: 6px 12px;
  border: 1px solid #ffffff;
  width: fit-content;
  border-radius: 4px;
}

.img_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.img_wrapper {
  background-color: #ffffff;
  border-radius: 10px;
}

.image {
  width: 100%;
}