.items {
  font-size: 12px;
}


.main-info {
  font-size: 14px;
  line-height: 14px;
  color: #f0f0f0;
}

.additional-info {
  font-size: 12px;
  line-height: 12px;
  color: #c0c0c0;
}

.main-items {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.additional-items {
  display: flex;
  flex-direction: column;
  gap: 4px;
}