.wrap {
    width: 820px;
    margin: 0 auto 32px;
}

.header {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.description {
    font-size: 16px;
    text-align: center;
    margin-bottom: 32px;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item {
    width: 180px;
    margin: 0 auto;
    display: flex;
    gap: 8px;
    align-items: center;
}
