.wrap {
    margin: 200px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 910px;
    gap: 40px;
}

.text_block {

}

.title {
    font-size: 32px;
    font-weight: 600;
}

.description {
    font-size: 20px;
    color: #333;
    font-weight: 500;
}

html[class~=dark] .description {
    color: rgba(255, 255, 255, 0.8);
}

.leftside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 220px 220px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: fit-content;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 10px;
    font-weight: 600;
    border: 1.7px solid rgba(33, 39, 46, 0.12);
    background-color: rgba(240, 241, 242, 0.27);
}

html[class~=dark] .item {
    border: 1.7px solid rgb(64,64,64);
    background-color: #282828;
}

.img_block {
    position: absolute;
}

.icon {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    width: 48px;
    height: 54px;
    justify-content: center;
    text-align: center;
}

.icon img {
    height: 24px;
}

.image {
    width: 30%;
}

.bigImage {
    width: 52%;
}
