---
import { getContentTree } from "@/utils";
import GlobalStyles from "@components/layout/GlobalStyles.astro";
import NavigationAstro from "@components/layout/NavigationAstro.astro";
import Footer from "@components/layout/Footer.astro";
import BaseHead from "@components/baseHead/BaseHead.astro";
import Banner from "@components/layout/Banner.astro";
import DocsSidebar from "../components/layout/DocsSidebar/DocsSidebar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
const { tree } = await getContentTree({});
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} />
  <body class="banner-shown">
    <Banner />
    <GlobalStyles />
    <NavigationAstro />
    <main class="landing-wrap scrollbar">
      <div class="landing-content">
        <div class="aside-wrap">
          <DocsSidebar tree={tree} headings={[]} forLanding={true} />
        </div>
        <slot />
      </div>
      <div class="bottom-margin"></div>
      <Footer />
    </main>
    <style>
        body {
            margin-top: 104px;
        }
      .landing-wrap {
        width: 100%;
        overflow-x: hidden;
        overflow-wrap: break-word;
        padding-left: max(env(safe-area-inset-left), 1.5rem);
        padding-right: max(env(safe-area-inset-right), 1.5rem);
        color: #334155;
      }

      .landing-content {
        max-width: 1024px;
        margin: 0 auto;
      }

      .aside-wrap {
          display: none;
      }

      .bottom-margin {
        margin-bottom: 4rem;
      }

      @media screen and (max-width: 768px) {
          .aside-wrap {
              display: block;
          }
      }
    </style>
  </body>
</html>
