---
import GlobalStyles from '@components/layout/GlobalStyles.astro';
import NavigationAstro from '@components/layout/NavigationAstro.astro';
import Footer from '@components/layout/Footer.astro';
import BaseHead from '@components/baseHead/BaseHead.astro';
import Banner from '@components/layout/Banner.astro';
import InitComponentsScripts from '@components/layout/InitComponentsScripts.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} />
  <body class="banner-shown">
    <Banner />
    <GlobalStyles />
    <NavigationAstro />
    <main class="landing-wrap scrollbar">
      <div class="landing-content">
        <slot />
      </div>
      <div class="bottom-margin"></div>
      <Footer />
    </main>
    <InitComponentsScripts />
    <style>
      body[class~='banner-shown'] .landing-wrap {
        max-height: calc(100dvh - 104px);
      }
      .landing-wrap {
        max-height: calc(100dvh - 64px);
        width: 100%;
        overflow-x: hidden;
        overflow-wrap: break-word;
        padding-left: max(env(safe-area-inset-left), 1.5rem);
        padding-right: max(env(safe-area-inset-right), 1.5rem);
        color: #334155;
      }

      .landing-content {
        max-width: 1024px;
        margin: 0 auto;
      }

      .bottom-margin {
        margin-bottom: 4rem;
      }
    </style>
  </body>
</html>
