.wrap {
  position: relative;
}

.wrap:hover button {
  opacity: 1;
}

.fade_border {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 16px 16px rgba(30,30,30,1);
  -moz-box-shadow: inset 0px 0px 16px 16px rgba(30,30,30,1);
  box-shadow: inset 0px 0px 16px 16px rgba(30,30,30,1);
}

.pre {
  font-family: 'Menlo', monospace;
  font-size: 14px;
  padding: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.pre-wrap {
  overflow: auto;
  height: 228px;
}