.wrap {
  position: relative;
  margin-top: 1.5rem;
}

.wrap:hover button {
  opacity: 1;
}

.fade_border {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.pre {
  font-family: 'Menlo', monospace;
  font-size: 14px;
  padding: 20px;
  min-width: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.pre-wrap {
  overflow: auto;
}