.wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 160px;
}

.header {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.image_wrap {
    
}

.image {
    border-radius: 8px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.button {
    width: 212px;
    border-radius: 3px;
    color: #282b3b;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(33, 39, 46, 0.12);
    background-color: rgba(240, 241, 242, 0.27);
}

html[class~=dark] .button {
    color: #cccccc;
    background-color: rgba(255,255,255,0.05);
}

@media (max-width: 900px) {
    .header {
        font-size: 20px;
    }
}


@media (max-width: 599px) {
    
}
