.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 160px;
}

.text_container {
  text-align: center;
  max-width: 514px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.description {
  font-size: 20px;
  font-weight: 500;
}

.image_container {
  border-radius: 8px 8px 0 0;
  padding: 4px 4px 0;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-bottom: none;
  overflow: hidden;
  position: relative;
}

.image_container::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -200px;
  width: 100%;
  height: 400px;
  background: radial-gradient(70% 30% at center, rgba(17, 17, 21, 0.2) 60%, rgba(17, 17, 21, 0));
}

.image {
  border-radius: 4px 4px 0 0;
}

.image_container_separator {
  height: 1px;
  width: calc(100% + 48px);
  margin-left: -24px;
  background: #e8e8e8;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.button {
  width: 212px;
  border-radius: 3px;
  color: #282b3b;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(33, 39, 46, 0.12);
  background-color: rgba(240, 241, 242, 0.27);
}

.button_accent {
  width: 212px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  height: 48px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #282b3b;
}

html[class~='dark'] .button {
  color: #cccccc;
  background-color: rgba(255, 255, 255, 0.05);
}

html[class~='dark'] .button_accent {
  color: #282828;
  background-color: rgb(226, 232, 240);
}

html[class~='dark'] .docs {
  border: 1px solid rgb(64, 64, 64);
  background-color: #282828;
  color: rgb(226, 232, 240);
}

html[class~='dark'] .image_container {
  border: 1px solid rgb(64, 64, 64);
  border-bottom: none;
  background-color: #282828;
}

html[class~='dark'] .image_container_separator {
  background: rgb(64, 64, 64);
}

@media (max-width: 900px) {
  .header {
    font-size: 20px;
  }

  .docs {
    font-size: 14px;
  }
}

@media (max-width: 599px) {
}
