html[class~=dark] .wrap {
    border: 3px dashed #a8a8a8;
    background-color: #282828;
    color: rgb(226,232,240);
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 32px 16px;
    border: 3px dashed #a8a8a8;
    color: #282b3b;
    background-color: #e8e8e8;
    gap: 20px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.learn_more {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
    
}


@media (max-width: 599px) {
    .wrap {
        width: 314px;
        border-radius: 5px;
    }
}
